{% extends 'base.html' %}

{% block content %}{% block mobile-content %}
    <div id="post_container" class="post container" style="visibility: hidden;margin-top: 25px;">
      <div class="row">

        <div class="calendar-icon col-1">
        </div>

        <div class="col-12" style="margin-left: 0px;">

          <h1> {{ page.title }} </h1>
          <br />

          {{ page.text | safe }}

          <br />
          <br />
          <br />
          <br />
        </div>


      <div id="disqus_thread" class="post-text col-12"></div>
      <script>

        function resize() {
          // Resize post container for desktop
          if (window.screen.width <= 576) {
            document.querySelector("#post_container").style.visibility = "visible";
          } else {
            var el = document.getElementById("sidebar");
            document.querySelector("#post_container").style.marginLeft = window.screen.width * 0.15 + "px";
            document.querySelector("#post_container").style.visibility = "visible";
          }    
        }

        window.onload = function () { 
          resize();
        }

        window.onresize = function(event) {
            resize();
        };

        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        var disqus_config = function () {
            this.page.url = '{{ request.build_absolute_uri }}{{ object.get_absolute_url }}';
            this.page.identifier = '{{ page.id }}';
            this.page.title = '{{ page.title }}';
        };

        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://https-aba-rocks.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            

      </div>
    </div>
{% endblock %}{% endblock %}

