{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
  Account content here.
</div>


<script>
  function resize() {
    // Resize post container for desktop
    if (window.screen.width <= 576) {
      document.querySelector("#post_container").style.visibility = "visible";
    } else if ( window.screen.width > 576 && window.screen.width <= 900) {
      document.querySelector("#post_container").style.marginLeft = window.screen.width * 0.22 + "px";
      document.querySelector("#post_container").style.visibility = "visible";
      document.querySelector("#carousel").style.marginLeft = window.screen.width * 0.22 + "px";
    } else if ( window.screen.width > 900 && window.screen.width <= 1200) {
      document.querySelector("#post_container").style.marginLeft = window.screen.width * 0.165 + "px";
      document.querySelector("#post_container").style.visibility = "visible";
      document.querySelector("#carousel").style.marginLeft = window.screen.width * 0.165 + "px";
    } else if ( window.screen.width >= 900 && window.screen.width <= 1200) {
      document.querySelector("#post_container").style.marginLeft = window.screen.width * 0.185 + "px";
      document.querySelector("#post_container").style.visibility = "visible";
      document.querySelector("#carousel").style.marginLeft = window.screen.width * 0.185 + "px";
    } else {
      document.querySelector("#post_container").style.marginLeft = window.screen.width * 0.225 + "px";
      document.querySelector("#post_container").style.visibility = "visible";
      document.querySelector("#carousel").style.marginLeft = window.screen.width * 0.125 + "px";
    }
  }

  window.onload = function () { 
    resize();
  }

  window.onresize = function(event) {
      resize();
  };
</script>

{% endblock %}
