{% extends "base.html" %}
{% block content %}
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <div class="columns py-5 is-centered is-vcentered" id="safmeds-wrapper">
        <div class="column is-three-fifths-widescreen is-full-desktop is-full-tablet is-full-mobile is-size-2"
             id="card-column" x-data="{ flip: false }">
            <div id="index-card" class="index-card" :class="flip ? 'flip' : ''">
                <div class="index-card-side has-background-text-90 has-text-text-90-invert"
                     id="{{ card.id }}-front">
                    <p>{{ card.front }}</p>
                </div>
                <div class="index-card-side has-background-text-90 has-text-text-60-invert"
                     id="{{ card.id }}-back">
                    <p>{{ card.back }}</p>
                </div>
            </div>
            <div class="icon has-text-grey is-clickable is-large" id="flip-button"
                 @click="flip = !flip">
                <i class="fas fa-rotate"></i>
            </div>

        </div>
        <div class="column">
            <div class="columns is-vcentered is-multiline is-centered">
                <div class="column has-text-centered is-narrow has-text-black buttons mb-0" id="card-buttons">
                    {% include "components/alpine-counter.html" with classes="button is-success is-large" name="Correct" id="num-correct" %}
                    {% include "components/alpine-counter.html" with classes="button is-danger is-large" name="Incorrect" id="num-incorrect" %}
                </div>
                <div class="column is-narrow is-centered has-text-centered">
                    <button x-data="{ count: 0 }" class="button is-warning is-large" id="next">Next</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
