{% extends "base.html" %}
{% block content %}
<section class="section">
    <div class="columns py-5 is-centered is-vcentered" id="safmeds-wrapper">
        <div class="column is-three-fifths-widescreen is-full-desktop is-full-tablet is-full-mobile is-size-2"
             id="card-column">
            {% include "safmeds/single_card.html" %}
        </div>
        <div class="column">
            <div class="columns is-vcentered is-multiline is-centered">
                <div class="column has-text-centered is-narrow has-text-black buttons mb-0" id="card-buttons">
                    {% include "components/alpine-counter.html" with classes="button is-success is-large" name="Correct" id="num-correct" %}
                    {% include "components/alpine-counter.html" with classes="button is-danger is-large" name="Incorrect" id="num-incorrect" %}
                </div>
                <div class="column is-narrow is-centered has-text-centered">
                    <button x-data="{ count: 0 }" class="button is-warning is-large" id="next">Next</button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
