{% extends "base.html" %}
{% block content %}
    <div class="container" id="card-container">
        <div class="columns is-centered is-vcentered" id="card-columns">
            <div class="column is-three-fifths has-text-black is-size-2"
                 id="index-card">
                <div class="card">
                    <div class="card-content">
                        <div class="content has-text-black">
                            {{ card.text }}
                            <div class="card-content index-card is-flex is-align-items-center is-justify-content-center has-background-grey"
                                 id="{{ card.id }}-front">
                                <p>{{ card.front }}</p>
                            </div>
                            <hr>
                            <div class="card-content index-card is-flex is-align-items-center is-justify-content-center has-background-grey-light"
                                 id="{{ card.id }}-back }}">
                                <p>{{ card.back }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-narrow" id="card-stats">
                <p class="block">Number Correct: </p>
                <p class="block">Number Wrong: </p>
                <p class="block">Time Elapsed: </p>
            </div>
            <div class="column has-text-centered is-narrow has-text-black buttons" id="card-buttons">
                <button class="button is-danger">Oops!</button>
                <button class="button is-info">Next</button>
                <button class="button is-success">Got It!</button>
            </div>
        </div>
    </div>
{% endblock content %}
