{% extends "base.html" %}
{% block title %}{{ deck.name }}{% endblock title %}
{% block extra-head %}
    {{ data|json_script:"card-data" }}
{% endblock extra-head %}
{% block content %}
<section class="section" id="play-section" hx-get="{% url 'safmeds:results' deck.slug %}"
         hx-trigger="score" hx-vals="js:...event.detail" hx-swap="outerHTML">
    <div class="columns py-5 is-centered is-vcentered is-gapless" id="safmeds-wrapper">
        <div class="column is-three-fifths-widescreen is-full-desktop is-full-tablet is-full-mobile is-size-2"
             id="card-column" x-data="{ showButton: true }">
            {% include "safmeds/single_card.html"%}
        </div>
        <div class="column">
            <div class="columns is-vcentered is-multiline is-centered">
                <div class="column has-text-centered is-narrow has-text-black buttons mb-0" id="card-buttons">
                    <div @click="$dispatch('reset-card')">
                        {% include "components/_alpine-counter.html" with classes="button is-success is-large" data="$store.cardData.correct" name="Correct" id="num-correct" %}
                    </div>
                    <div @click="$dispatch('reset-card')">
                        {% include "components/_alpine-counter.html" with classes="button is-danger is-large" data="$store.cardData.incorrect" name="Incorrect" id="num-incorrect" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "components/_progress-bar.html" %}
</section>
{% endblock content %}
