{% load static %}
<div class="container card-container" @reset-card.window="flip = false"
     x-data="{ flip: false, showButton: {{ show_button }}, useAlpine: {{ use_alpine }} }">
    <div class="index-card" :class="flip ? 'flip' : ''">
        <div class="index-card-side has-background-text-90 has-text-text-90-invert"
             :id="useAlpine ? current + '-front' : '{{ card.id }}-front'">
            <p x-text="frontside('{{ card.front }}')"></p>
        </div>
        <div class="index-card-side has-background-text-90 has-text-text-90-invert"
             :id="useAlpine ? current + '-back' : '{{ card.id }}-back'">
            <p x-text="backside('{{ card.back }}')"></p>
        </div>
    </div>
    <template x-if="showButton">
        <div class="icon has-text-grey is-clickable is-large flip-button"
             @click="flip = !flip">
            <i class="fas fa-rotate"></i>
        </div>
    </template>
</div>
