acme==0.31.0
asn1crypto==0.24.0
beautifulsoup4==4.6.3
bleach==2.1.4
certbot==0.31.0
certbot-nginx==0.31.0
certifi==2018.8.24
chardet==3.0.4
ConfigArgParse==0.11.0
configobj==5.0.6
cryptography==3.0
defusedxml==0.5.0
Django==1.11.15
django-admin-list-filter-dropdown
django-ckeditor
django-crispy-forms==1.6.1
django-debug-toolbar==1.8
django-htmlmin==0.10.0
django-mptt==0.8.7
djangorestframework==3.6.4
Faker==0.8.18
future==0.15.2
html5lib==0.999999999
idna==2.7
ipaddress==1.0.22
josepy==1.1.0
keyring==10.6.0
keyrings.alt==3.0
Markdown==2.6.11
mock==2.0.0
ndg-httpsclient==0.4.4
netifaces==0.10.4
oauthlib==2.1.0
olefile==0.45.1
parsedatetime==2.4
path.py==10.3.1
pbr==3.1.1
psycopg2-binary==2.7.5
py3dns==3.1.0
pyasn1==0.4.2
pycrypto==2.6.1
PyJWT==1.6.4
pyOpenSSL==17.5.0
pyparsing==2.2.0
pypolicyd-spf==2.0.2
pyRFC3339==1.0
pyspf==2.0.1
python-dateutil==2.7.3
python3-openid==3.1.0
pytz==2018.5
pyxdg==0.25
PyYAML==3.12
requests==2.20.0
requests-oauthlib==1.0.0
requests-toolbelt==0.8.0
SecretStorage==2.3.1
six==1.11.0
social-auth-core==1.7.0
sqlparse==0.2.4
# ssh-import-id==5.7
stevedore==1.30.0
text-unidecode==1.2
Unidecode==0.4.21
urllib3==1.23
uWSGI==2.0.17
virtualenv==15.1.0
virtualenv-clone==0.5.1
virtualenvwrapper==4.8.4
webencodings==0.5.1
