li a {
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
    font-family: Helvetica;
}

.qq {
  color: white;
  font-weight: bold;
  size: 1.5em;
  font-family: Helvetica;

}

li a:hover {
  color: red;
}

body {
    background: white url("images/background.1e07b46d7651.1e07b46d7651.gif") no-repeat right bottom;
}
