{% block content %}
<div class="container">
<div class="has-text-centered is-medium">
<h1 class="title is-1">{{ code }} Quiz No.{{ number }} Final Results</h1>
<ul class="">
  <li class="is-inline">
    <h2 class="title is-2 is-inline">Total Number of Questions:</h2>
    <p>{{ total }}</p>
  </li>
  <li class="is-inline">
    <p class="title is-2">Number of Questions Answered Correctly:</p>
    <p>{{ correct }}</p>
  </li>
  <li class="is-inline">
    <p class="title is-2">Final Grade:</p>
    <p>{{ percent }}</p>
  </li>
  {% comment "List item for time taken to complete quiz" %}
    <li class="is-inline">
    <p class="title is-2">Time Taken:</p>
    <p>{{ time }}</p>
    </li>
  {% endcomment %}
</ul>
</div>
</div>
{% endblock content %}