  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Wait!</h5>
    </div>
    <div class="modal-body">
      <p>
        You previously started this quiz and didn't finish. Would you like to continue where you left off, or start over?
      </p>
    </div>
    <div class="modal-footer">
        <button type="button"
                class="button is-secondary"
                hx-get="{% url 'quiz:continue' %}"
                hx-target="#quiz-wrapper"
                hx-swap="innerhtml"

        >Resume</button>
        <button type="button"
                class="button is-primary"
                hx-get="{% url 'quiz:start_quiz' quiz.course.code quiz.number %}?confirm"
                hx-target="#quiz-wrapper"
        >Start Over</button>
    </div>
  </div>
