<header class="modal-card-head">
  <h5>Not Quite!</h5>
</header>
<section class="modal-card-body">
  <p>
    {{ hint|safe }}
  </p>
</section>
<footer class="modal-card-foot">
    <button type="button"
            class="button  is-primary"
            x-data="{ loading: false }"
            :class="{'is-loading': loading }"
            @click="loading = !loading"
            hx-post="{% url 'quiz:continue' %}?next=True"
            hx-include="#questionForm"
            hx-target="#quiz-wrapper"
            hx-swap="innerHTML"
    >Next Question</button>
</footer>
