{% extends 'base.html' %}

{% block quiz-content %}
  <h2> ABA Practice Quizzes</h2>
  <br />
  <p>
    This site is dedicated to providing free, useful practice quizzes for folks looking forward to taking the big ABA exam(s)! Whether you're sitting for the RBT exam, trying to brush up on terminology and basic principles, or you're hunkering down and preparing for the big BCBA test, I'm doing my best to gather some useful practice materials for ya here!<br /><br />

    Check back regularly as I try to add a new set of quiz questions every Sunday!<br /><br />
  </p>

  <div class="alert alert-primary mb-5" role="alert" style="display: none;">
    <h4 class="alert-heading font-weight-bold"><span class="badge badge-secondary">New</span> Introducing Quiz Forms</h4>
    <p>Forms are unique versions of quizzes - I will try to make at least 3 "forms" for each concept area so you can practice without doing the same old questions over and over again. If you are feeling solid with form A, take a shot at form B!</p>
    <hr>
    <p class="mb-0">Anyways, good luck and happy studying! <i class="fas fa-pencil-alt"></i> <i class="fas fa-coffee"></i> </p>
  </div>

  <div style="display: none;">
    <h2>RBT Test Structure: What's On The Exam!<br>
        <a style="margin-left: 10px;" class="btn btn-outline-primary" href="#" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"><small style="font-size:0.75em;"><i class="far fa-eye"></i> Click to see details on the structure & content of the exam</small></a>
    </h2>
    <div class="collapse" id="collapseExample">
      <div>
        <p style="margin-left: 10px;">The RBT exam is 2 hours long, and there will be 75 total questions.</p>
        <table style="width: 95%; margin: 1.5%;" class="table table-striped table-hover table-sm">
        <caption><small><b>Structure & Content of the RBT Exam</b>. Source: <a class="font-weight-bold" href="https://www.bacb.com/rbt/rbt-exam/">BACB Website</a>. Last Updated 7.15.18<br>** Please note, your exam may include "Trial questions" which are questions the BACB is evaluating for future tests - missing these questions won't count against you. They are not marked as trial questions on the actual exam.</small></caption>
        <thead class="thead-dark">
          <tr>
            <th scope="col">Content Area</th>
            <th scope="col"># of Questions on the BACB RBT Exam</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">A. Measurement</th>
            <td>10</td>
          </tr>

          <tr>
            <th scope="row">B. Assessment</th>
            <td>8</td>
          </tr>

          <tr>
            <th scope="row">C. Skill Acquisition</th>
            <td>24</td>
          </tr>

          <tr>
            <th scope="row">D. Behavior Reduction</th>
            <td>12</td>
          </tr>

          <tr>
            <th scope="row">E. Documentation and Reporting</th>
            <td>10</td>
          </tr>

          <tr>
            <th scope="row">F. Professional Conduct and Scope of Practice</th>
            <td>11</td>
          </tr>

          <tr>
            <th class="font-weight-bold" scope="row">Total Number of Questions</th>
            <td class="font-weight-bold">75 <small>(+10 trial** questions)</small></td>
          </tr>
        </tbody>
        </table>
      </div>
    </div>
  </div>



  <ul class="nav nav-pills nav-justified" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="RBT-tab" data-toggle="tab" href="#RBT" role="tab" aria-controls="RBT" aria-selected="true"><b>RBT Level</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="BCaBA-tab" data-toggle="tab" href="#BCaBA" role="tab" aria-controls="BCaBA" aria-selected="false"><b>BCaBA Level</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="BCBA-tab" data-toggle="tab" href="#BCBA" role="tab" aria-controls="BCBA" aria-selected="false"><b>BCBA Level</b></a>
    </li>
  </ul>

  <br />



  {% if units|length > 0 %}
  <div class="tab-content" id="myTabContent">
    <!-- Begin RBT Quiz Block -->
    <div class="tab-pane fade show active" id="RBT" role="tabpanel" aria-labelledby="RBT-tab">
      <div class="container-fluid">
        <br><h3>RBT Practice Quizzes:</h3>
        <br>
        <ul class="list-group">
        {% for unit in units %}
          {% if unit.count != 0 and unit.unit_target == "RBT" %}

            
            <ul class="nav nav-tabs" id="RBT-Form-Tabs" role="tablist">
              {% for form in unit.forms %}
                <li class="nav-item">
                  {% if forloop.first %}
                  <a class="nav-link active" id="{{unit.id}}-{{form.form_short_name}}-tab" data-toggle="tab" href="#{{unit.id}}-{{ form.form_short_name }}" role="tab" aria-controls="home" aria-selected="true">
                    Form {{ form.form_short_name }}
                  </a>
                  {% else %}
                  <a class="nav-link" id="{{unit.id}}-{{form.form_short_name}}-tab" data-toggle="tab" href="#{{unit.id}}-{{ form.form_short_name }}" role="tab" aria-controls="home" aria-selected="true">
                    Form {{ form.form_short_name }}
                  </a>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>


            <div class="tab-content" id="RBT-Form-Tabs-Content">
              {% for form in unit.forms %}
                {% if forloop.first %}
                  <div class="tab-pane fade show active" id="{{unit.id}}-{{ form.form_short_name }}" role="tabpanel" aria-labelledby="{{unit.id}}{{ form.form_short_name }}-tab">
                {% else %}
                  <div class="tab-pane fade show" id="{{unit.id}}-{{ form.form_short_name }}" role="tabpanel" aria-labelledby="{{unit.id}}-{{ form.form_short_name }}-tab">
                {% endif %}
                  {% if form.count > 0 %}
                  <a class="list-group-item" style="border: none;">
                    <div>
                      <h4 data-toggle="collapse" class="text-primary font-weight-bold" style="cursor: pointer;" href="#RBT-Collapse-{{form.form_short_name}}-{{unit.id}}">
                        <div class="btn btn-success" onClick="window.location='{{unit.id}}/form_{{form.id}}'"><i class="fas fa-play"></i></div>
                        Form {{ form.form_short_name }} - {{ unit.unit_name }}
                        <i data-toggle="tooltip" data-placement="top" title="Click to show details" class="fas fa-chevron-circle-down"></i>
                        <small style="font-size: 0.5em;" class="text-muted">{{ form.count }} questions</small>
                        <br><small style="margin-left: 5%;font-size: 0.5em;" class="text-muted">
                          Click the title to toggle quiz details; click the green play button to start the quiz.
                        </small>
                      </h4>
                    </div>
                    <div style="color: #000;" class="collapse" href="{{form.form_short_name}}-{{unit.id}}" id="RBT-Collapse-{{form.form_short_name}}-{{unit.id}}">
                      <p class="list-group-item-text" style="font-size: 1.25em">
                        {% if form.form_description %} 
                          {{ form.form_description |safe}} 
                        {% endif %}
                        {{ unit.unit_description |safe}} 
                        <br>
                        <div onClick="window.location='{{unit.id}}/form_{{form.id}}'" class="btn btn-success font-weight-bold">Start Quiz</div>
                      </p>
                      <p class="list-group-item-text text-muted">{{ unit.count }} question quiz.</p>
                    </div>
                  </a>
                  {% else %}
                  <a class="list-group-item" style="border: none;">
                    <div class="container">
                      <h3>
                        Oops - Well, no surprise here - I've been slacking!
                      </h3>

                      <strong>I haven't made any quizzes for this form, yet. <a style="padding: .75rem 0rem 0.75rem 1.25rem;" href="mailto:alex@behaviorist.tech">Email me </a> and that might help get me back to work and off Netflix.
                      </strong>
                      
                      <p style="padding: .75rem 1.25rem;">In any event, eventually, someday soon, I'll finish working on this quiz. I just gotta make another pot of coffee first, I promise. <i class="fas fa-coffee"></i></p>
                      <h4><strong>Check back soon, and good luck studying!</strong></h4>
                    </div>
                  </a>
                  {% endif %}
                </div>
              {% endfor %}
            </div>

          {%endif %}
          &nbsp
        {% endfor %}
        </ul>
      </div>
    </div>
    <!-- End RBT Quiz Block -->


    <!-- Begin BCaBA Quiz Block -->
    <div class="tab-pane fade" id="BCaBA" role="tabpanel" aria-labelledby="BCaBA-tab">
      <div class="container-fluid">
        <br><h3>BCaBA Practice Quizzes:</h3>
        <br>
        <ul class="list-group">
        {% for unit in units %}
          {% if unit.count != 0 and unit.unit_target == "BCaBA" %}

            
            <ul class="nav nav-tabs" id="BCaBA-Form-Tabs" role="tablist">
              {% for form in unit.forms %}
                <li class="nav-item">
                  {% if forloop.first %}
                  <a class="nav-link active" id="{{unit.id}}-{{form.form_short_name}}-tab" data-toggle="tab" href="#{{unit.id}}-{{ form.form_short_name }}" role="tab" aria-controls="home" aria-selected="true">
                    Form {{ form.form_short_name }}
                  </a>
                  {% else %}
                  <a class="nav-link" id="{{unit.id}}-{{form.form_short_name}}-tab" data-toggle="tab" href="#{{unit.id}}-{{ form.form_short_name }}" role="tab" aria-controls="home" aria-selected="true">
                    Form {{ form.form_short_name }}
                  </a>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>


            <div class="tab-content" id="BCaBA-Form-Tabs-Content">
              {% for form in unit.forms %}
                {% if forloop.first %}
                  <div class="tab-pane fade show active" id="{{unit.id}}-{{ form.form_short_name }}" role="tabpanel" aria-labelledby="{{unit.id}}{{ form.form_short_name }}-tab">
                {% else %}
                  <div class="tab-pane fade show" id="{{unit.id}}-{{ form.form_short_name }}" role="tabpanel" aria-labelledby="{{unit.id}}-{{ form.form_short_name }}-tab">
                {% endif %}
                  {% if form.count > 0 %}
                  <a class="list-group-item" style="border: none;">
                    <div>
                      <h4 data-toggle="collapse" class="text-primary font-weight-bold" style="cursor: pointer;" href="#BCaBA-Collapse-{{form.form_short_name}}-{{unit.id}}">
                        <div class="btn btn-success" onClick="window.location='{{unit.id}}/form_{{form.id}}'"><i class="fas fa-play"></i></div>
                        Form {{ form.form_short_name }} - {{ unit.unit_name }}
                        <i data-toggle="tooltip" data-placement="top" title="Click to show details" class="fas fa-chevron-circle-down"></i>
                        <small style="font-size: 0.5em;" class="text-muted">{{ form.count }} questions</small>
                        <br><small style="margin-left: 5%;font-size: 0.5em;" class="text-muted">
                          Click the title to toggle quiz details; click the green play button to start the quiz.
                        </small>
                      </h4>
                    </div>
                    <div style="color: #000;" class="collapse" href="{{form.form_short_name}}-{{unit.id}}" id="BCaBA-Collapse-{{form.form_short_name}}-{{unit.id}}">
                      <p class="list-group-item-text" style="font-size: 1.25em">
                        {% if form.form_description %} 
                          {{ form.form_description |safe}} 
                        {% endif %}
                        {{ unit.unit_description |safe}} 
                        <br>
                        <div onClick="window.location='{{unit.id}}/form_{{form.id}}'" class="btn btn-success font-weight-bold">Start Quiz</div>
                      </p>
                      <p class="list-group-item-text text-muted">{{ unit.count }} question quiz.</p>
                    </div>
                  </a>
                  {% else %}
                  <a class="list-group-item" style="border: none;">
                    <div class="container">
                      <h3>
                        Oops - Well, no surprise here - I've been slacking!
                      </h3>

                      <strong>I haven't made any quizzes for this form, yet. <a style="padding: .75rem 0rem 0.75rem 1.25rem;" href="mailto:alex@behaviorist.tech">Email me </a> and that might help get me back to work and off Netflix.
                      </strong>
                      
                      <p style="padding: .75rem 1.25rem;">In any event, eventually, someday soon, I'll finish working on this quiz. I just gotta make another pot of coffee first, I promise. <i class="fas fa-coffee"></i></p>
                      <h4><strong>Check back soon, and good luck studying!</strong></h4>
                    </div>
                  </a>
                  {% endif %}
                </div>
              {% endfor %}
            </div>

          {%endif %}
          &nbsp
        {% endfor %}
        </ul>
      </div>
    </div>
    <!-- End BCaBA Quiz Block -->


    <!-- Begin BCBA Quiz Block -->
    <div class="tab-pane fade" id="BCBA" role="tabpanel" aria-labelledby="BCBA-tab">
      <div class="container-fluid">
        <br><h3>BCBA Practice Quizzes:</h3>
        <br>
        <ul class="list-group">
        {% for unit in units %}
          {% if unit.count != 0 and unit.unit_target == "BCBA" %}

            
            <ul class="nav nav-tabs" id="BCBA-Form-Tabs" role="tablist">
              {% for form in unit.forms %}
                <li class="nav-item">
                  {% if forloop.first %}
                  <a class="nav-link active" id="{{unit.id}}-{{form.form_short_name}}-tab" data-toggle="tab" href="#{{unit.id}}-{{ form.form_short_name }}" role="tab" aria-controls="home" aria-selected="true">
                    Form {{ form.form_short_name }}
                  </a>
                  {% else %}
                  <a class="nav-link" id="{{unit.id}}-{{form.form_short_name}}-tab" data-toggle="tab" href="#{{unit.id}}-{{ form.form_short_name }}" role="tab" aria-controls="home" aria-selected="true">
                    Form {{ form.form_short_name }}
                  </a>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>


            <div class="tab-content" id="BCBA-Form-Tabs-Content">
              {% for form in unit.forms %}
                {% if forloop.first %}
                  <div class="tab-pane fade show active" id="{{unit.id}}-{{ form.form_short_name }}" role="tabpanel" aria-labelledby="{{unit.id}}{{ form.form_short_name }}-tab">
                {% else %}
                  <div class="tab-pane fade show" id="{{unit.id}}-{{ form.form_short_name }}" role="tabpanel" aria-labelledby="{{unit.id}}-{{ form.form_short_name }}-tab">
                {% endif %}
                  {% if form.count > 0 %}
                  <a class="list-group-item" style="border: none;">
                    <div>
                      <h4 data-toggle="collapse" class="text-primary font-weight-bold" style="cursor: pointer;" href="#BCBA-Collapse-{{form.form_short_name}}-{{unit.id}}">
                        <div class="btn btn-success" onClick="window.location='{{unit.id}}/form_{{form.id}}'"><i class="fas fa-play"></i></div>
                        Form {{ form.form_short_name }} - {{ unit.unit_name }}
                        <i data-toggle="tooltip" data-placement="top" title="Click to show details" class="fas fa-chevron-circle-down"></i>
                        <small style="font-size: 0.5em;" class="text-muted">{{ form.count }} questions</small>
                        <br><small style="margin-left: 5%;font-size: 0.5em;" class="text-muted">
                          Click the title to toggle quiz details; click the green play button to start the quiz.
                        </small>
                      </h4>
                    </div>
                    <div style="color: #000;" class="collapse" href="{{form.form_short_name}}-{{unit.id}}" id="BCBA-Collapse-{{form.form_short_name}}-{{unit.id}}">
                      <p class="list-group-item-text" style="font-size: 1.25em">
                        {% if form.form_description %} 
                          {{ form.form_description |safe}} 
                        {% endif %}
                        {{ unit.unit_description |safe}} 
                        <br>
                        <div onClick="window.location='{{unit.id}}/form_{{form.id}}'" class="btn btn-success font-weight-bold">Start Quiz</div>
                      </p>
                      <p class="list-group-item-text text-muted">{{ unit.count }} question quiz.</p>
                    </div>
                  </a>
                  {% else %}
                  <a class="list-group-item" style="border: none;">
                    <div class="container">
                      <h3>
                        Oops - Well, no surprise here - I've been slacking!
                      </h3>

                      <strong>I haven't made any quizzes for this form, yet. <a style="padding: .75rem 0rem 0.75rem 1.25rem;" href="mailto:alex@behaviorist.tech">Email me </a> and that might help get me back to work and off Netflix.
                      </strong>
                      
                      <p style="padding: .75rem 1.25rem;">In any event, eventually, someday soon, I'll finish working on this quiz. I just gotta make another pot of coffee first, I promise. <i class="fas fa-coffee"></i></p>
                      <h4><strong>Check back soon, and good luck studying!</strong></h4>
                    </div>
                  </a>
                  {% endif %}
                </div>
              {% endfor %}
            </div>

          {%endif %}
          &nbsp
        {% endfor %}
        </ul>
      </div>
    </div>
    <!-- End BCBA Quiz Block -->

          <div class="container" style="text-align: center;">
            <button type="button" data-toggle="collapse" href="#disqus_thread" class="btn btn-info">
              <i class="far fa-comment"></i>
              Toggle Comments
            </button>
          </div>

          <br /><br />

          <!-- Disqus Code !-->
          <div id="disqus_thread" class="collapse col-12"></div>

          <script>

          /**
          *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
          *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
          
          var disqus_config = function () {
              this.page.url = '{{ request.build_absolute_uri }}{{ object.get_absolute_url }}';
              this.page.identifier = 'quiz';
              this.page.title = 'Quiz Index';
          };
                    
          (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = 'https://https-aba-rocks.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
          })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

  </div>
  {% else %}
      <p>No quizzes are available at this time. If you believe this is an error, contact the administrator at <a href="mailto:admin@aba.rocks">admin@aba.rocks</a>.</p>
  {% endif %}
{% endblock %}

