{% extends 'base.html' %}

{% block quiz-content %}
  <h2> ABA Practice Quizzes</h2>
  <br />
  <p>This site is dedicated to providing free, useful practice quizzes for folks looking forward to taking the big ABA exam(s)! Whether you're sitting for the RBT exam. just trying to brush up on terminology, or you're preparing for the big BCBA test, I'm doing my best to gather some useful practice materials for ya here!<br /><br />

  Check back regularly as I try to add a new set of quiz questions every Monday.</p>
  <br /><br />

  <ul class="nav nav-pills nav-justified" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="RBT-tab" data-toggle="tab" href="#RBT" role="tab" aria-controls="RBT" aria-selected="true"><b>RBT Level</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="BCaBA-tab" data-toggle="tab" href="#BCaBA" role="tab" aria-controls="BCaBA" aria-selected="false"><b>BCaBA Level</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="BCBA-tab" data-toggle="tab" href="#BCBA" role="tab" aria-controls="BCBA" aria-selected="false"><b>BCBA Level</b></a>
    </li>
  </ul>

  <br />

  {% if units|length > 0 %}
  <div class="tab-content" id="myTabContent">

    <div class="tab-pane fade show active"id="RBT" role="tabpanel" aria-labelledby="RBT-tab">
      <div class="container-fluid">
        <br><h3>RBT Practice Quizzes:</h3>
        <br>
        <ul class="list-group">
        {% for unit in units %}
          {% if unit.count != 0 and unit.unit_target == "RBT" %}
            <a class="list-group-item">
              <div>
                <h4 data-toggle="collapse" class="text-primary font-weight-bold" style="cursor: pointer;" href="#RBT-Collapse-{{unit.id}}">
                  <div class="btn btn-success" onClick="window.location='{{unit.id}}'"><i class="fas fa-play"></i></div>
                  {{ unit.unit_name }} practice quiz
                  <i data-toggle="tooltip" data-placement="top" title="Click to show details" class="fas fa-chevron-circle-down"></i>
                  <small style="font-size: 0.5em;" class="text-muted">{{ unit.count }} questions</small>
                  <br><small style="margin-left: 5%;font-size: 0.5em;" class="text-muted">
                    Click title to toggle quiz details; click the green play button to start the quiz.
                  </small>
                </h4>
              </div>
              <div style="color: #000;" class="collapse" href="{{unit.id}}" id="RBT-Collapse-{{unit.id}}">
                <p class="list-group-item-text" style="font-size: 1.25em"> {{ unit.unit_description |safe}} 
                  <br>
                  <div href="{{unit.id}}" class="btn btn-success font-weight-bold">Start Quiz</div>
                </p>
                <p class="list-group-item-text text-muted">{{ unit.count }} question quiz.</p>
              </div>
            </a>
          {%endif %}
          &nbsp
        {% endfor %}
        </ul>
      </div>
    </div>
    <!-- End RBT Quiz Block -->

    <div class="tab-pane fade" id="BCaBA" role="tabpanel" aria-labelledby="BCaBA-tab">
      <div class="container-fluid">
        <br><h3>BCaBA Practice Quizzes</h3>
        <br>
        <ul class="list-group">
        {% for unit in units %}
          {% if unit.count != 0 and unit.unit_target == "BCaBA" %}
            <a class="list-group-item" style="cursor: pointer;">
                <h4 data-toggle="collapse" class="text-primary font-weight-bold" style="cursor: pointer;" href="#BCaBA-Collapse-{{unit.id}}">
                  <div class="btn btn-success" onClick="window.location='{{unit.id}}'"><i class="fas fa-play"></i></div>
                  {{ unit.unit_name }} practice quiz
                  <i data-toggle="tooltip" data-placement="top" title="Click to show details" class="fas fa-chevron-circle-down"></i>
                  <small style="font-size: 0.5em;" class="text-muted">{{ unit.count }} questions</small>
                  <br><small style="margin-left: 5%;font-size: 0.5em;" class="text-muted">
                    Click title to toggle quiz details; click the green play button to start the quiz.
                  </small>
                </h4>
              <span style="color: #000;" class="collapse" href="{{unit.id}}" id="BCaBA-Collapse-{{unit.id}}">
                <p class="list-group-item-text" style="font-size: 1.25em"> {{ unit.unit_description |safe}} </p>
                <p class="list-group-item-text text-muted"> {{ unit.count }} question quiz.</p>
              </span>
            </a>
          {% endif %}
          {% if forloop.last %}
            {% if unit.count == 0%}
              <br>
              <p style="font-size: 5.0em">&#x1f629;</p>
              <h4>No quizzes here just yet...</h4>
              <p style="padding: 5px; margin-top: 15px;">I promise I'm working on it - takes time to make these quizzes, and more time to research them to make sure they're OK. If you'd like, <b>leave a comment</b> below to urge me along. Sometimes a little extra motivation really helps</p>.
            {% endif %}
          {% endif %}
        {% endfor %}
        </ul>
      </div>
    </div>
    <!-- End BCaBA Quiz Block -->
    
    <div class="tab-pane fade" id="BCBA" role="tabpanel" aria-labelledby="BCBA-tab">
      <div class="container-fluid">
        <br><h3>BCBA Practice Quizzes</h3>
        <br>
        <ul class="list-group">
        {% for unit in units %}
          {% if unit.count != 0 and unit.unit_target == "BCBA" %}
            <a class="list-group-item" href="{{unit.id}}" style="cursor: pointer;">
              <h4 data-toggle="collapse" class="text-primary font-weight-bold" style="cursor: pointer;" href="#BCBA-Collapse-{{unit.id}}">
                <div class="btn btn-success" onClick="window.location='{{unit.id}}'"><i class="fas fa-play"></i></div>
                {{ unit.unit_name }} practice quiz
                <i data-toggle="tooltip" data-placement="top" title="Click to show details" class="fas fa-chevron-circle-down"></i>
                <small style="font-size: 0.5em;" class="text-muted">{{ unit.count }} questions</small>
                <br><small style="margin-left: 5%;font-size: 0.5em;" class="text-muted">
                  Click title to toggle quiz details; click the green play button to start the quiz.
                </small>
              </h4>
              <span style="color: #000;" class="collapse" href="{{unit.id}}" id="BCBA-Collapse-{{unit.id}}">
                <p class="list-group-item-text" style="font-size: 1.25em"> {{ unit.unit_description |safe}} </p>
                <p class="list-group-item-text text-muted"> {{ unit.count }} question quiz.</p>
              </span>
            </a>
          {% endif %}
          {% if forloop.last %}
            {% if unit.count == 0%}
              <br>
              <p style="font-size: 5.0em">&#x1f629;</p>
              <h4>No quizzes here just yet...</h4>
              <p style="padding: 5px; margin-top: 15px;">I promise I'm working on it - takes time to make these quizzes, and more time to research them to make sure they're OK. If you'd like, <b>leave a comment</b> below to urge me along. Sometimes a little extra motivation really helps</p>.
            {% endif %}
          {% endif %}
        {% endfor %}
        </ul>
      </div>
    </div>
    <!-- End BCBA Quiz Block -->

  </div>
  {% else %}
      <p>No quizzes are available at this time. If you believe this is an error, contact the administrator at <a href="mailto:admin@aba.rocks">admin@aba.rocks</a>.</p>
  {% endif %}
{% endblock %}

