{% extends 'quiz/base.html' %}

{% block content %}
  {% if unit_names|length > 0 %}
      <ul class="list-group">
      {% for unit_name in unit_names %}
          <a class="list-group-item" href="{{unit_name.unit_name}}" style="cursor: pointer;">
            <h4><b>{{ unit_name.unit_name }}</b> practice quiz</h4>
            <p class="list-group-item-text">A simple, {{ unit_name.count }} question study guide of basic behavioral principles.</p>
          </a>
      {% endfor %}
      </ul>
  {% else %}
      <p>No quizes are available at this time. If you believe this is an error, contact the administrator at <a href="mailto:admin@aba.rocks">admin@aba.rocks</a>.</p>
  {% endif %}
{% endblock %}
