{% load static django_bootstrap5 %}
{{ question|safe }}
<form hx-post="{% url 'quiz:next_question' %}"
      hx-swap="innerHTML"
      hx-target="#content"
      hx-indicator="#spinner">
  {% csrf_token %}
  {% bootstrap_form_errors form %}
  {% for field in form %}
    <div class="fieldWrapper">
       {% bootstrap_field field %}
    </div>
{% endfor %}
  <button type="submit">Next Question</button>
  <img id="spinner" height="auto" width="auto" alt="loading spinner" class="htmx-indicator" src="{% static 'img/spinners/bars-min.svg' %}"/>
</form>
<script>
  htmx.logAll();
</script>