{% load static %}
{{ question.text|safe }}
<form>
  {% csrf_token %}
  {% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
    </div>
{% endfor %}
  <button type="button"
          hx-post="{% url 'quiz:next_question' %}?slug={{ slug }}"
          hx-swap="innerHTML"
          hx-target="#content"
          hx-indicator="#spinner"
  >Next Question</button>
  <img  id="spinner" class="htmx-indicator" src="{% static 'img/spinners/bars-min.svg' %}"/>
</form>