{% load static %}
{{ question|safe }}
<form id="questionForm"
      hx-post="{% url 'quiz:check_answer' %}"
      hx-swap="innerHTML"
      hx-target="#quiz-wrapper"
      x-data="{ loading: false }"
      :class="{'is-loading': loading }"
      @click="loading = !loading">
  {% csrf_token %}
  
  {% for field in form %}
      <div id="answers" class="fieldWrapper">
          {{ field.errors }}
            <div class="is-inline-block"> {{ field.label_tag.as_field_group }} </div>
            <div class="is-inline-block"> {{ field.as_field_group }} </div>
      </div>
  {% endfor %}

  <button class="button is-primary" type="submit">Next Question</button>
</form>