{% extends 'quiz/base.html' %}

{% block content %}
  <h1 id="question_text"><small>{{ unit_name }} Practice Quiz</small><br>{{ question.question_text|safe }} </h1>
  <br>
  <div id="score_graph" class="fade" style="display: none; height: 400px; width: 400px;">
    <canvas id="myChart" width="400" height="400"></canvas>
  </div>
  <div id="choice_menu" class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Select the best answer from these choices:</h3>
    </div>
    <div class="panel-body">
      <form action="/quiz/{{ unit_name }}/grade_question/" method="POST" id="post-form">
      {% csrf_token %}
      <div id="choices">
      {% for choice in question.choice_set.all %}
          <input type="radio" name="choice" id="{{ choice.id }}" value="{{ choice.id }}" />
          <label for="choice{{ forloop.counter }}"><span style="font-weight: normal">{{ choice.choice_text }}</span></label><br />
      {% endfor %}
      </div>
    </div>
    <div class="panel-footer">
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
          <button type="button" data-toggle="collapse" data-target="#hint" class="btn btn-default">Give me a hint!</button>
        </div>
        <div class="btn-group" role="group">
          <button type="submit" id="post-form" class="btn btn-info"><b>Submit Answer</b></button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="collapse" id="hint">
    <div style="margin: 25px;">
      <h3>Here's a hint:</h3>
      {{ question.question_hint|safe }}
    </div>
  </div>

  <div id="results">

  </div>

  <div id="error_modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="Question Hint" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title alert alert-danger"><b>Oops!</b> That answer is not correct</h4>
        </div>
        <div class="modal-body">
          <div id="error_modal_message">
          </div>
        </body>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK, I got it</button>
      </div>
    </div>
  </div>



<script>
  var dataset = [12, 5];

  var ctx = document.getElementById("myChart");
  var myChart = new Chart(ctx, {
      type: 'doughnut',
      data: {
          labels: ["Incorrect", "Correct"],
          datasets: [{
              label: 'Score Report',
              data: dataset,
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
              ],
              borderColor: [
                  'rgba(255,99,132,1)',
                  'rgba(75, 192, 192, 1)',
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }]
          }
      }
  });

  $('#post-form').on('submit', function(event){
      event.preventDefault();
      grade_question();
  });
  var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

  function csrfSafeMethod(method) {
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  $.ajaxSetup({
      beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
      }
  });

  var current_score = [];
  localStorage.setItem("{{question.unit_name}}",JSON.stringify(current_score));

  function displayScore() {
    var score = JSON.parse(localStorage.getItem("{{question.unit_name}}"));
    $('#score_graph').fadeIn().removeClass('fade').css('display', 'block');
    var incorrect_count = 0;
    var correct_count   = 0;
    for (i = 0; i < score.length; i++ ) {
      if ( score[i] == "correct" ) {
        correct_count++;
      } else {
        incorrect_count++;
      }
    }
    var final_score = correct_count/(incorrect_count+correct_count);
    if ( final_score >= 0.8 ) {
      $('#results').html('<br><div class="alert alert-success"><b>Hey, good work there!<b> Your score is: <b>'+Math.floor(final_score*100)+'%</b></div>');
    } else {
      $('#results').html('<br><div class="alert alert-danger"><b>Better luck next time</b> - keep trying! You can do it! Your score is: <b>'+Math.floor(final_score*100)+'%</b></div>');
    }
    myChart.data.datasets[0].data[1] = correct_count;
    myChart.data.datasets[0].data[0] = incorrect_count;
    myChart.update();
  }

  function grade_question() {
      var id  = $('input[name=choice]:checked').attr("id");
      var q   = $('input[name=choice]:checked').next("label").text();
      var current_score = JSON.parse(localStorage.getItem("{{question.unit_name}}"));
      $.ajax({
        url : "/quiz/{{question.unit_name}}/",
        type : "POST",
        data : { 'csrfmiddlewaretoken': '{{csrf_token}}', selected_choice : q, selected_choice_id : id }, // data sent with the post request
        success : function(response) {
            $('#results').html('');
            if (response.is_correct == true && response.question_id < response.last_id) {
            current_score.push("correct");
            localStorage.setItem("{{question.unit_name}}",JSON.stringify(current_score));
              $('#choices').html('');
              for (var i = 0; i < response.next_question_choices.length; i++) {
                $('#choices').append('<input type="radio" name="choice" id="'+response.next_question_choices[i].id+'" value="'+i+'" />');
                $('#choices').append('<label for="choice'+i+'"><span style="font-weight: normal">'+response.next_question_choices[i].choice+'</span></label><br />');
              }
              $('#results').html('<div class="alert alert-success" role="alert"><b>Well done!</b> You got the previous question correct.</div>');
              $('#question_text').html('<small>'+response.unit_name+' Practice Quiz<br></small>'+response.next_question_text);
            } else {
              if ( response.question_id >= response.last_id && response.is_correct == true) {
                current_score.push("correct");
                localStorage.setItem("{{question.unit_name}}",JSON.stringify(current_score));
                $('#question_text').html("<b>That's it!</b> You finished the quiz.");
                $('#choice_menu').fadeOut();
                console.log(JSON.parse(localStorage.getItem("{{question.unit_name}}")));
                displayScore();
              } else {
                current_score.push("incorrect");
                localStorage.setItem("{{question.unit_name}}",JSON.stringify(current_score));
                $('#error_modal').modal('show');
                $('#error_modal_message').html(response.question_hint);
                $('#choices').html('');
                if ( response.question_id >= response.last_id ) {
                  $('#question_text').html("<b>That's it!</b> You finished the quiz.");
                  $('#choice_menu').fadeOut();
                  console.log(JSON.parse(localStorage.getItem("{{question.unit_name}}")));
                  displayScore();
                } else {
                  for (var i = 0; i < response.next_question_choices.length; i++) {
                    $('#choices').append('<input type="radio" name="choice" id="'+response.next_question_choices[i].id+'" value="'+i+'" />');
                    $('#choices').append('<label for="choice'+i+'"><span style="font-weight: normal">'+response.next_question_choices[i].choice+'</span></label><br />');
                  }
                  $('#question_text').html('<small>'+response.unit_name+' Practice Quiz<br></small>'+response.next_question_text);
                }
              }
            }
        },

        error : function(xhr,errmsg,err) {
            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: <i>"+err+
                "</i>. Try again, I guess? <a href='#' class='close'>&times;</a></div>");
            console.log(xhr.status + ": " + xhr.responseText);
        }
    });
  };

</script>

{% endblock %}
