{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrahead %}
  <link rel="icon" type="image/png" sizes="96x96" href="https://aba.rocks/static/favicon/favicon-96x96.png">
  <script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>

{% endblock %}

{% block extrastyle %}
	#header {
		background-color: #fd9f1b;
	}
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Yo') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
