{% extends "registration/account_info.html" %}
{% block form %}
    <h2 class="title">Login</h2>
    <form action="{% url 'login' %}" method="post" class="form" id="login-form">
        {{ form.errors }}
        {% csrf_token %}
        <div class="field">
            {{ field.errors }}
            <label class="label" for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
            <div class="control">{{ form.username }}</div>
        </div>
        <div class="field">
            {{ field.errors }}
            <label class="label" for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
            <div class="control">{{ form.password }}</div>
        </div>
        <div class="field is-grouped is-grouped-centered">
            <div class="control" hx-target="#account-modal" hx-select="#account-modal" hx-swap="outerhtml" hx-push-url="false">
                <a href="{% url 'signup' %}">Sign Up</a>
            </div>
            <div class="control" hx-target="#account-modal" hx-select="#account-modal" hx-swap="outerhtml" hx-push-url="false">
                <a href="{% url 'password_reset' %}">Forgot Password</a>
            </div>
        </div>
        <div class="field is-grouped is-grouped-centered">
            <p class="control">
                <button @click="$dispatch('reset')" class="button">Cancel</button>
            </p>
            <p class="control">
                <input type="submit" form="login-form" class="button" value="Submit" hx-push-url="true">
            </p>
        </div>
    </form>
{% endblock form %}

