{% extends "registration/account_info.html" %}
{% block form %}
{% if validlink %}
    <h2 class="title">Reset Password</h2>
    <form method="post" class="form" id="reset-form">
        {% csrf_token %}
        <input readonly hidden autocomplete="username" value="{{ form.user.get_username }}">
        <div class="field">
            {{ field.errors }}
            <label class="label" for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
            <div class="control">{{ form.new_password1 }}</div>
        </div>
        <div class="field">
            {{ field.errors }}
            <label class="label" for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
            <div class="control">{{ form.new_password2 }}</div>
        </div>
        <div class="field">
            <p class="control">
                <input type="submit" form="reset-form" class="button" value="Change Password" hx-push-url="true">
            </p>
        </div>
    </form>
{% else %}
    <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
{% endif %}
{% endblock form %}