{% extends "registration/account_info.html" %}
{% block form %}
    <h2 class="title">Reset Password</h2>
    <form action="{% url 'password_change' %}" method="post" class="form" id="reset-form">
        {% csrf_token %}
        <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
        <div class="field">
            {{ field.errors }}
            <label class="label" for="{{ form.old_password.id_for_label }}">{{ form.old_password.label }}</label>
            <div class="control">{{ form.old_password }}</div>
        </div>
        <div class="field">
            {{ field.errors }}
            <label class="label" for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
            <div class="control">{{ form.new_password1 }}</div>
        </div>
        <div class="field">
            {{ field.errors }}
            <label class="label" for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
            <div class="control">{{ form.new_password2 }}</div>
        </div>
        <div class="field">
            <p class="control">
                <input type="submit" form="reset-form" class="button" value="Change Password" hx-push-url="true">
            </p>
        </div>
    </form>
{% endblock form %}