{% extends "registration/account_info.html" %}
{% block form %}
    <h2 class="title">Reset Password</h2>
    <p>Enter your email below to receive a link to reset your password.</p>
    <form action="{% url 'password_reset' %}" method="post" class="form" id="reset-form">
        {% csrf_token %}
        <div class="field">
            {{ field.errors }}
            <label class="label" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
            <div class="control">{{ form.email }}</div>
        </div>

        <div class="field">
            <p class="control">
                <input type="submit" form="reset-form" class="button" value="Reset Password" hx-push-url="true">
            </p>
        </div>
    </form>
{% endblock form %}
