{% extends 'base.html' %}

{% block coffee-content %}
    <div class="post container-fluid" style="margin-top: 25px;">
      <div class="row">

        <div class="container">
        	<div class="col-12" style="margin-left: 0px;">

	        <h2>Buy me a Coffee?</h2>

	        <br />

	        <h4>This site takes a lot of work, and coffee makes all that work possible.</h4>

	        <br />

	    	<p>If you'd like to buy me a cup of coffee, type your donation in below</p>


	        <br />

			<form action="/blog_coffee_checkout" method="post" id="payment-form">
			    <div class="form-row">
			    	{% csrf_token %}

			    	<div class="input-group mb-3">
				    	<div class="input-group-prepend">
				    		<span class="input-group-text" id="amount">Donate $</span>
				    	</div>
				    	<input oninput="check_donation(this)" type="number" required="required" step="0.01" id="donation" class="form-control" style="width: 500px;" placeholder="Donation Amount" aria-label="Donation" aria-describedby="amount">
					</div>

			    	<div class="input-group mb-3">
				    	<div class="input-group-prepend">
				    		<span class="input-group-text" id="confirm-amount">Confirm $</span>
				    	</div>
				    	<input oninput="check_confirm(this)" type="number" required="required" step="0.01" id="confirm-donation" class="form-control" style="width: 500px;" placeholder="Donation Amount" aria-label="Confirm Donation Amount" aria-describedby="amount">
					</div>

					<label for="card-element" class="font-weight-bold">Card Details:</label>
					<div class="input-group mb-3">
				    	<div id="card-element">
				    	<!-- A Stripe Element will be inserted here. -->
				    	</div>
					</div>

			    	<!-- Used to display form errors. -->
			    	<div id="card-errors" role="alert"></div>
				</div>

		  		<button class="btn btn-primary">Submit Payment</button>
			</form>

			<script language='javascript' type='text/javascript'>
			    function check_confirm(input) {
			        if (input.value != document.getElementById('donation').value) {
			            input.setCustomValidity('Please CHECK THIS AMOUNT CAREFULLY - your donation amount MUST MATCH in both fields before you can submit!');
			        } else {
			            // input is valid -- reset the error message
			            input.setCustomValidity('');
			            document.getElementById('donation').setCustomValidity('');
			        }
			    }

			    function check_donation(input) {
			        if (input.value != document.getElementById('confirm-donation').value) {
			            input.setCustomValidity('Please CHECK THIS AMOUNT CAREFULLY - your donation amount MUST MATCH in both fields before you can submit!');
			        } else {
			            // input is valid -- reset the error message
			            input.setCustomValidity('');
			            document.getElementById('confirm-donation').setCustomValidity('');
			        }
			    }
			</script>

			<br /><br />

	        <p class="text-muted"><u>Card info is never stored on this site</u> - I use <a href="https://www.stripe.com">Stripe</a> for payment, which is also used by a lot of folks quite a bit more widely known than me, such as <a href="https://stripe.com/us/customers">Lyft, Facebook, UNICEF, Habitat For Humanity, Target...</a> basically, a bunch of big companies use Stripe to securely handle customer payment information. <b>The least I can do to thank you for your generosity is to ensure your personal data is handled securely and anonymously.</b></p>

	        <p class="text-muted">If you donated by accident, contact me at <a href="mailto:alex@behaviorist.tech">alex@behaviorist.tech</a> and I will fix it!</p>

	    	</div>
		</div>
	</div>
</div>

{% endblock %}

{% block extra-body-js %}
    <script src="https://js.stripe.com/v3/"></script>
	<script>

		document.getElementById('donation').value = 0.00;
		document.getElementById('confirm-donation').value = 0.00;

		function stripeTokenHandler(token) {
		  // Insert the token ID into the form so it gets submitted to the server
		  var form = document.getElementById('payment-form');
		  var donation = 100 * $('input#donation').val();
		  console.log(donation);

		  var hiddenInput = document.createElement('input');
		  hiddenInput.setAttribute('type', 'hidden');
		  hiddenInput.setAttribute('name', 'stripeToken');
		  hiddenInput.setAttribute('value', token.id);

		  var hiddenDonationInput = document.createElement('input');
		  hiddenDonationInput.setAttribute('type', 'hidden');
		  hiddenDonationInput.setAttribute('name', 'donation');
		  hiddenDonationInput.setAttribute('value', donation);

		  form.appendChild(hiddenInput);
		  form.appendChild(hiddenDonationInput);

		  form.submit();
		}

		// Create a Stripe client.
		var stripe = Stripe('pk_test_ujrxSeDWQe8wFLQohp9Jp172');

		// Create an instance of Elements.
		var elements = stripe.elements();

		// Custom styling can be passed to options when creating an Element.
		// (Note that this demo uses a wider set of styles than the guide below.)
		var style = {
		  base: {
		    color: '#32325d',
		    fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
		    fontSmoothing: 'antialiased',
		    fontSize: '16px',
		    '::placeholder': {
		      color: '#aab7c4'
		    }
		  },
		  invalid: {
		    color: '#fa755a',
		    iconColor: '#fa755a'
		  }
		};

		// Create an instance of the card Element.
		var card = elements.create('card', {style: style});

		// Add an instance of the card Element into the `card-element` <div>.
		card.mount('#card-element');
		card.mount('#card-element');

		// Handle real-time validation errors from the card Element.
		card.addEventListener('change', function(event) {
		  var displayError = document.getElementById('card-errors');
		  if (event.error) {
		    displayError.textContent = event.error.message;
		  } else {
		    displayError.textContent = '';
		  }
		});

		// Handle form submission.
		var form = document.getElementById('payment-form');
		form.addEventListener('submit', function(event) {
		  event.preventDefault();

		  stripe.createToken(card).then(function(result) {
		    if (result.error) {
		      // Inform the user if there was an error.
		      var errorElement = document.getElementById('card-errors');
		      errorElement.textContent = result.error.message;
		    } else {
		      // Send the token to your server.
		      stripeTokenHandler(result.token);
		    }
		  });
		});
	</script>
{% endblock %}