{% extends 'base.html' %}

{% block content %}
    <div class="post container-fluid" style="margin-top: 25px;">
      <div class="row">

        <div class="calendar-icon col-1">
        </div>

        <div class="col-12" style="margin-left: 0px;">
          
          <h2>What is ABA?</h2>

          <p>ABA is the science of how organisms learn. Like any science, the repeated testing of a hypothesis is used to discover objective truth.</p>

          <p>Like other natural sciences, like physics and chemistry, ABA focuses on natural phenomenon. Physicists study the behavior of matter and forces, biologists study the process of life, and behaviorists study the way that complex life learns and adapts to it's surroundings. Amoeba do this, your pets do this, and you yourself are actively doing engaging in behavior right now. The behaviorist studies this process of learning and adapting.</p>

          <p>ABA stands for <i><b>A</b>pplied</i> <b>B</b>ehavior <b>A</b>nalysis. The <u>applied</u> part refers to taking the science of behavior and <u>applying</u> it directly to improving some human need. For example, an applied materials engineer studies better materials to make our smartphones with, which might make them less likely to break easily when we drop them. An applied behavior analyst studies technologies that affect behavior change, typically in people (but sometimes in animals), that improve the lives of people, families, societies, corporations, schools, and your pets.</p>

          <p>We've all likely benefited - and also sufferred - from the science of behavior analysis. Organizations use behavior analysis to train their employees faster. Our schools utilize behavioral techniques like reinforcement, choral responding, and precision teaching to help kids learn more efficiently. My local pet store uses behavior analysis during weekly dog training classes, complete with snazzy looking graphs of doggie behavior. Google uses behavior analysis to track your online web traffic, which it then sells to advertisers who then try to market stuff to you based off your behavior. Like any science, some of this benefits us, some of it's neutral, and some of it outright harms us. Just like the study of physics has produced both the miracle of space flight and the horror of atomic warfare, behavior analysis has produced both hope and despair from the activities of it's practitioners.</p>

          <br />

          <h3>ABA is not...</h3>
          <p>
          	<ul>
          		<li>... <a href="https://www.youtube.com/watch?v=0JAxNItos3A&t=152s">sitting at a table doing drills</a> </li>
          		<li>... <a href="https://en.wikipedia.org/wiki/Hypnosis">mind control</a> </li>
          		<li>... <a href="https://en.wikipedia.org/wiki/Judge_Rotenberg_Educational_Center">electric shocks & other forms of punishment</a> </li>
          		<li>... <a href="https://www.autismspeaks.org/what-autism/treatment/applied-behavior-analysis-aba">only useful for people with mental health issues</a> </li>
          		<li>... <a href="https://www.youtube.com/watch?v=xFrGuyw1V8s">a band</a> </li>
          	</ul>
          </p>

          <br />
          
          <h3>What are ABA Professionals Called?</h3>
          <p>
          	In the United States, the Behavior Analysis Certification Board manages the practice of certified <b>Behavior Analysts</b>. A <b>B</b>oard <b>C</b>ertified <b>B</b>ehavior <b>A</b>nalyst (BCBA) is a person with their masters who practices the science of applied or experimental behavior analysis. They have assistants, much like doctors have nurses, and these folks are known as <b>B</b>oard <b>C</b>ertified <b>A</b>ssistant <b>B</b>ehavior <b>A</b>nalysts (BCaBA). It's a bit of an alphabet soup - but bear with me for just one more. A <b>R</b>egistered <b>B</b>ehavior <b>T</b>echnician is being supervised by a BCaBA or BCBA, and has received a basic competency training and passed a test.
          </p>

        </div>

      </div>
    </div>
{% endblock %}
