{% extends 'base.html' %}

{% block content %}{% block mobile-content %}
    <div class="post container-fluid" style="margin-top: 25px;">
      <div class="row">

        <div class="calendar-icon col-1">
        </div>

        <div class="col-12" style="margin-left: 0px;">
          <h2>About This Blog</h2>

          <br />

          <p>I made this site, primarily, to help folks who work with behavior analysts (or folks trying to become behavior analysts) learn as much as they can about the science of behavior analysis. To be fully honest, I made this site as a way to practice <a href="https://en.wikipedia.org/wiki/Django_(web_framework)">DJANGO / Python</a> and back + front end web site development, and since I also happen to be a behavior analyst (BCaBA), I figured I could kill two birds as it were by making RBT practice quizzes for new therapists at my clinic so they can practice before sitting for the exam. It's a fun intersection of two of my favorite hobbies!</p>

          <br />

          <p>Check back every once in awhile for updates, and <b>leave a comment below if you wanna let me know a little about yourself and what you think of the site.</b></p>


          <br /><br /><br /><br />

        </div>

		<div id="disqus_thread" class="post-text col-12"></div>
		<script>

		/**
		*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
		*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
		/*
		var disqus_config = function () {
		this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
		this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
		};
		*/
		(function() { // DON'T EDIT BELOW THIS LINE
		var d = document, s = d.createElement('script');
		s.src = 'https://https-aba-rocks.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
		})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            

      </div>
    </div>
{% endblock %}{% endblock %}

