{% extends 'base.html' %}

{% block content %}{% block mobile-content %}
    <div class="post container-fluid" style="margin-top: 25px;">
      <div class="row">

        <div class="calendar-icon col-1">
        </div>

        <div class="col-12" style="margin-left: 0px;">
          Research supporting ABA and any limitations
          <br />
          <br />
          <br />

			<p>
			  <a style="font-family: Helvetica;" class="text-white font-weight-bold" data-toggle="collapse" href="#collapse-aba-and-autism" role="button" aria-expanded="false" aria-controls="collapse-aba-and-autism">
			    <p class="bg-primary rounded-top" style="padding: 5px;">
			    	<i style="margin: 0 5px 0 10px;" class="fas fa-chevron-down"></i>
			    	Research on Early, Intensive Behavioral Intervention (EIBI) with kids with Autism
			    </p>
			  </a>
			</p>

			<div class="collapse show" id="collapse-aba-and-autism">

				<div class="card">
				  <div class="card-body">
				    <h5 class="card-title">Using participant data to extend the evidence base for Intensive Behavioral Intervention for children with autism.</h5>
				    <h6 class="card-subtitle mb-2 text-muted">Eldevik, S., Hastings, R.P., Hughes, J.C., Jahr, E., Eikeseth, S., & Cross, S. (2010). American Journal on Intellectual and Developmental Disabilities, 115, 381-405.</h6>
				    <br />
				    <p class="card-text">Individual data from children (n=453) were divided into three groups: those that had received behavioral intervention, those that had received another intervention of similar intensity or to a control group where no specific intervention was provided. The outcomes for the behavioral intervention group were significantly better than those for the control and comparison groups and were even demonstrated to compare well with statistics used to evaluate mainstream healthcare interventions. We found that intensity of intervention (35 or more hours per week of EIBI) was related to both IQ and ABC gains, and that IQ and ABC scores at intake were related to gains in ABC scores.</p>
				    <p class="text-muted">Links to the article: 
				    	<br />
				    	<a href="https://www.ncbi.nlm.nih.gov/pubmed/20687823" class="font-weight-bold card-link">NCBI Article Link</a>
				    	<a href="http://aaiddjournals.org/doi/10.1352/1944-7558-115.5.381?url_ver=Z39.88-2003&code=aamr-site" class="font-weight-bold card-link">Allen Press</a>
				    </p>
				  </div>
				</div>
				<!-- End Collapse !-->
			</div>



        </div>

      </div>
    </div>
{% endblock %}{% endblock %}
