{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container-fluid">
      <!-- Carousel !-->
      <div id="carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel" style="min-height: 5px;" data-slide-to="0" class="active"></li>
          {% for post in posts %}
            {% if post.is_pinned is True %}
              <li data-target="#carousel" style="min-height: 5px;" data-slide-to="{{ forloop.counter0 }}"></li>
            {% endif %}
          {% endfor %}
        </ol>

        <div class="carousel-inner">
          <div class="carousel-item active text-center p4">
            <div class="container" style="padding-left: 1%;padding-right: 1%;">
              <h1 class="display-4" style="font-size:2.5rem;">Getting Ready for the RBT Exam?</h1>
              <p class="lead">You could procrastinate by watching <a href="https://www.youtube.com/results?search_query=cat+videos&page=&utm_source=opensearch">cat videos on YouTube...</a> or take a few practice quizzes!</p>
                <hr class="my-4">
                <p>
                  Good luck! All quizzes are inspired from tasks on the <a href="https://www.bacb.com/rbt/rbt-competency-assessment/">RBT</a> and <a href="https://www.bacb.com/bcba-bcaba-task-list/">BCBA Competency Assessments</a> and attempt to simulate actual questions you might encounter on the RBT exam. 
                </p>
                <p class="lead">
                  <a class="btn btn-primary btn-lg" href="/quiz" role="button">Practice Quizzes</a>
                </p>
                <br />
                <br />
            </div><br>
          </div>

          {% for post in posts %}
            {% if post.is_pinned is True %}
              <div class="carousel-item text-center p4">
                <div class="container">
                  <h1 class="display-4">{{ post.title|safe }}</h1>
                  <br />
                  {{ post.text|safe|truncatewords_html:post.snippet_size }}
                  <a href="{% url 'post_details_by_slug' slug=post.slug %}" class="btn btn-primary font-weight-bold">Read more &nbsp <i class="fas fa-arrow-circle-right"></i></a>
                </div><br><br><br>
              </div>
            {% endif %}
          {% endfor %}


        </div>

        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <div id="post_container" style="display: none;">
        <h3>Recent Posts</h3>
        <hr>
        {% for post in posts %}

            <div class="post container" style="margin-top: 25px;margin-bottom: 7%;">
              <div class="row">

                <div class="post-info row">
                  <div class="col-md-2" style="padding: 0px;">
                    <time datetime="{{ post.published_date }}" class="icon">
                      <em>{{ post.published_date|date:"l" }}</em>
                      <strong>{{ post.published_date|date:"F" }}</strong>
                      <span style="padding-top: 0.7em">{{ post.published_date|date:"j" }}</span>
                    </time>
                  </div>

                  <div class="col-md-10" style="text-align: left;padding-top: 3%;">
                    <a href="/blog/{{ post.slug }}">
                      <h1>
                      {{ post.title|safe }}
                      <small style="font-size: 0.5em">
                           <span class="badge badge-info">&nbsp <i class="far fa-comment-alt"></i> &nbsp <a class="text-white" href="{% url 'post_details_by_slug' slug=post.slug %}#disqus_thread"></a></span>
                      </small>
                      </h1>
                    </a>

                    {% if post.published_date %}
                        <div class="date">
                          Posted by <b>{{post.author}}</b> on {{ post.published_date }}
                        </div>
                    {% endif %}

                  </div>
                </div>

                <div class="col-10">
                  <br />
                  {% if post.pic %}
                  <div class="col-md-12" style="padding: 0px;margin: 0 auto 0 auto;">
                      <div class="container" >
                        <a href="/blog/{{post.slug}}">
                          <img class="mx-auto d-block rounded img-fluid" style="max-width: auto; max-height: 350px;" src="{{post.pic}}">
                        </a>
                      </div>
                  </div>
                  {% endif %}

                  <p>{{ post.text|safe|truncatewords_html:post.snippet_size }}</p>
                  <a href="{% url 'post_details_by_slug' slug=post.slug %}" class="btn btn-primary font-weight-bold">Read more &nbsp <i class="fas fa-arrow-circle-right"></i></a>
                </div>

              </div>
            </div>
        {% endfor %}        
      </div>
    </div>

    <!-- Template for Posts Added Dynamically !-->
    <template id="post_template">
      <div class="post container" style="margin-top: 25px;">
        <div class="row">

          <div class="post-info row">
            <div class="col-md-2" style="padding: 0px;">
              <time datetime="{{ post.published_date }}" class="icon">
                <em></em>
                <strong></strong>
                <span style="padding-top: 0.7em" class="template_date"></span>
              </time>
            </div>

            <div class="col-md-10" style="text-align: left;padding-top: 3%;">
              <a href="#">
                <h1>
                  <span class="template_title">Post Title</span>
                  <small style="font-size: 0.5em">
                       <span class="badge badge-info">&nbsp <i class="far fa-comment-alt"></i> &nbsp <a class="template_disqus_badge text-white" href="#"></a></span>
                  </small>
                </h1>
              </a>

              <div class="date">
                Posted by <b><span class="template_author"></span></b> on <span class="template_published_date">Published Date</span>
              </div>

            </div>
          </div>

          <div class="col-md-10" style="margin-bottom: 7%;">
            <div class="col-12">
              <br />

              <div class="template_image_container col-md-12" style="padding: 0px;margin: 0 auto 0 auto;">
                  <div class="container" >
                    <a class="template_post_image_link" href="#">
                      <img class="template_post_image mx-auto d-block rounded img-fluid" style="max-width: auto; max-height: 350px;" src="#">
                    </a>
                  </div>
              </div>
              <br />

              <p class="template_post_text"></p>
              <a href="#" class="template_read_more_btn btn btn-primary font-weight-bold">Read more &nbsp <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </template>


<script>
  var current_post_id = "{{ id }}";

  function resize() {
    // Resize post container for desktop
    if (window.screen.width <= 576) {
      console.log('small');
      document.querySelector("#post_container").style.display = "block";
    } else {
      var el = document.getElementById("sidebar");

      document.querySelector("#post_container").style.marginLeft = window.screen.width * 0.195 + "px";
      document.querySelector("#carousel").style.marginLeft = window.screen.width * 0.195 + "px";
      document.querySelector("#post_container").style.display = "block";
    }    
  }

  window.onload = function () { 
    resize();
  }

  window.onresize = function(event) {
      resize();
  };


  function get_next_post() {

    $.ajax({
      url :  "blog/get/post/"+current_post_id+"/",
      type: "POST",
      data: { 'csrfmiddlewaretoken' : '{{csrf_token}}' },

      success : function(response) {
          console.log(response);
          author          = response.author;
          current_post_id = response.id;

          response        = JSON.parse(response.post);
          response        = response[0].fields;

          if ( response.status == 'p' ) {

            var post  = document.querySelector("#post_template");
            var post_container = document.querySelector("#post_container");
            var clone = document.importNode(post.content, true);

            console.log(response.published_date);

            qq = clone.querySelector("em");
            qq.textContent = moment(response.published_date).format('dddd');

            qq = clone.querySelector("strong");
            qq.textContent = moment(response.published_date).format('MMMM');

            qq = clone.querySelector(".template_date");
            qq.textContent = moment(response.published_date).format('D');

            qq = clone.querySelector(".template_author");
            qq.textContent = author;

            qq = clone.querySelector(".template_published_date");
            qq.textContent = moment(response.published_date).format('l');

            qq = clone.querySelector(".template_title");
            qq.innerHTML = response.title;

            qq = clone.querySelector(".template_title");
            qq.href = 'blog/' + response.slug;

            qq = clone.querySelector(".template_read_more_btn");
            qq.href = 'blog/' + response.slug;

            if ( response.pic == null ) {
              qq = clone.querySelector(".template_image_container");
              qq.parentNode.removeChild(qq);
            } else {
              qq = clone.querySelector(".template_post_image");
              qq.src = response.pic;
              qq = clone.querySelector(".template_post_image_link");
              qq.href = 'blog/' + response.slug;
            }

            qq = clone.querySelector(".template_disqus_badge");
            qq.href = 'blog/' + response.slug + '#disqus_thread';

            qq = clone.querySelector(".template_post_text");
            text = response.text;
            qq.innerHTML = text.replace(/\s+/g," ").split(/(?=\s)/gi).slice(0, response.snippet_size).join('');

            post_container.appendChild(clone);
          }
        },
      error : function(xhr, errmsg, err) {
          console.log(xhr.status + ": " + xhr.responseText);
          current_post_id = current_post_id-1;
        },
     });
  }

  $(window).scroll(function() {
     if($(window).scrollTop() + $(window).height() == $(document).height()) {
         get_next_post();
     }
  });
</script>

{% endblock %}
