{% extends 'base.html' %}

{% block content %}{% block mobile-content %}
    <div class="post container-fluid" style="margin-top: 25px;">
      <div class="row">

        <div class="col-md-1" style="padding: 0px;">
          <time datetime="{{ post.published_date }}" class="icon">
            <em>{{ post.published_date|date:"l" }}</em>
            <strong>{{ post.published_date|date:"F" }}</strong>
            <span>{{ post.published_date|date:"j" }}</span>
          </time>
        </div>

        <div class="col-11" style="margin-left: 0px;">
          <div class="post-info col-12">
            <h1>
              {% if user.is_authenticated %}
                <small><a style="margin: 5px 0px 5px 0px; width: 100%;" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></small>
              {% endif %}
              {{ post.title }}
            </h1>
          </div>

          <div class="post-date col-12">
            {% if post.published_date %}
                <div class="date">
                  posted by <b>{{post.author}}</b> on {{ post.published_date }}
                </div>
            {% endif %}
          </div>

          <div class="post-text col-12">
            <p>
              {{ post.text|safe }}
            </p>
          </div>
        </div>

      </div>
    </div>
{% endblock %}{% endblock %}