<div id="posts">
  {% for post in page_obj %}
    <div class="py-4 jumbotron jumbotron-fluid">
      <a href="{{ post.id }}"><h1 class="display-4">{{ post.title }}</h1></a>
      {% autoescape off %}
        {{ post.text }}
      {% endautoescape %}
    </div>
    {% if page_obj.has_next %}
      <span hx-get="{% url 'blog:blog-posts' %}?page={{ page_obj.next_page_number }}"
            hx-target="#posts"
            hx-swap="beforeend"
            hx-trigger="revealed"
      ></span>
    {% endif %}
{% endfor %}
</div>
