{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        <div class="row-fluid">
          <div class="col-md-6">
                    <h1>{{ post.title }}</h1>
          </div>
          <div class="col-md-2">
            {% if post.published_date %}
                <div class="date">
                  posted by <b>{{post.author}}</b> on {{ post.published_date }}
                </div>
            {% endif %}
          </div>
          <div class="col-md-1">
            {% if user.is_authenticated %}
                 <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            {% endif %}
          </div>
        </div>
        <div class="col-md-12">
          <p>{{ post.text|safe }}</p>
        </div>
    </div>
{% endblock %}
