<div id="posts" class="container">
  {% for post in page_obj %}
  <div class="block card">
    {% if post.pic %}
    <div class="card-image">
      <figure class="image is-4by3">        
        <img height="auto" width="auto"
          src="{{ post.pic }}"
          alt="{{ post.subtitle }}"
        />
      </figure>
    </div>
    {% endif %}
    <div class="card-content">
        <a class="title is-4" href="{% url 'blog:blog-post' post.id %}">{{ post.title }}</a>
        <br />
        <time class="subtitle is-6" datetime="2016-1-1">{{ post.published_date }}</time>
        <br />
        {% if post.subtitle %}
        <br />
        <p class="subtitle is-5">{{ post.subtitle|safe }}</p>
        {% endif %}
        <p>{{ post.text|safe }}</p>
    </div>
  </div>

  {% if page_obj.has_next %}
    <span hx-get="{% url 'blog:blog-posts' %}?page={{ page_obj.next_page_number }}"
          hx-target="#posts"
          hx-swap="beforeend"
          hx-trigger="revealed"
    ></span>
  {% endif %}

  {% endfor %}
</div>