{% extends 'base.html' %}

{% block content %}
    <div id="post_container" class="post container" style="margin-top: 25px;"> 
      <div class="row">



        <div class="col-12" style="margin-left: 0px;">
          <div class="post-info row">
            <div class="col-md-2" style="padding: 0px;">
              <time datetime="{{ post.published_date }}" class="icon">
                <em>{{ post.published_date|date:"l" }}</em>
                <strong>{{ post.published_date|date:"F" }}</strong>
                <span style="padding-top: 0.7em">{{ post.published_date|date:"j" }}</span>
              </time>
            </div>

            <div class="col-md-10" style="text-align: center;padding-top: 3%;">
              <h1>
                {{ post.title|safe }}
                <small style="font-size: 0.5em">
                     <span class="badge badge-info">&nbsp <i class="far fa-comment-alt"></i> &nbsp <a class="text-white" href="{% url 'post_details_by_slug' slug=post.slug %}#disqus_thread"></a></span>
                </small>
              </h1>

              {% if post.published_date %}
                  <div class="date" style="margin-left: 25px;">
                    Posted by <b>{{post.author}}</b> on {{ post.published_date }}
                  </div>
              {% endif %}

            </div>
          </div>


          {% if post.pic %}
          <div class="col-md-12" style="padding: 0px;max-height: 30%;max-width: 30%;margin: 0 auto 25px auto;">
              <a href="{{post.pic}}">
                <img class="mx-auto d-block rounded img-fluid" src="{{post.pic}}">
              </a>
          </div>
          {% endif %}

          <div class="post-text col-12">
            <p>
              {{ post.text|safe }}
            </p>
          </div>

          <br /><br />
          <br /><br />

          <div class="container-fluid">
            <h3>Got Something to Say?</h3>
            <p>Now it's your turn to share your opinion. Tell us what you think!
              <br />
            </p>
            <small>Please always try to keep it civil.</small>
          </div>

          <div class="container" style="text-align: center;">
            <button type="button" data-toggle="collapse" href="#disqus_thread" class="btn btn-info">
              <i class="far fa-comment"></i>
              Toggle Comments
            </button>
          </div>
          <br />
          <br />
          <br /><br />

          <!-- Disqus Code !-->
          <div id="disqus_thread" class="col-12"></div>
          <br /><br /><br />
          <br /><br />

          <script>


            function resize() {
              // Resize post container for desktop
              if (window.screen.width <= 576) {
                document.querySelector("#post_container").style.display = "block";
              } else {
                var el = document.getElementById("sidebar");
                document.querySelector("#post_container").style.marginLeft = window.screen.width * 0.185 + "px";
                document.querySelector("#carousel").style.marginLeft = window.screen.width * 0.185 + "px";
                document.querySelector("#post_container").style.display = "block";
              }    
            }

            window.onload = function () { 
              resize();
            }

            window.onresize = function(event) {
                resize();
            };

            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
            
            var disqus_config = function () {
                this.page.url = '{{ request.build_absolute_uri }}{{ object.get_absolute_url }}';
                this.page.identifier = '{{ post.slug }}';
                this.page.title = '{{ post.title }}';
            };
                      
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://https-aba-rocks.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
        </div>

      </div>
    </div>
{% endblock %}
