{% extends 'base.html' %}

{% block content %}{% block mobile-content %}
    <div class="post container-fluid" style="margin-top: 25px;">
      <div class="row">

        <div class="calendar-icon col-1">
        </div>

        <div class="col-12" style="margin-left: 0px;">
          <h2>THANK YOU FOR YOUR SUPPORT</h2>
          <br />
          <br />

          <h3>You just donated <span style="font-face: 'Helvetica'"><b>${{ donation }}</b></span> to support my caffeine addiction.</h3>
          <br />

          <p>Your donation is anonymous, but by no means not appreciated! Thank you so much for your support! Seriously - you're awesome!</p>
          <br />
          <br />

          <p class="font-weight-bold">THANK YOU SO MUCH FOR YOUR SUPPORT! <span style="font-size: 18px;">&#x263a;</span></p>
          <br />
          <br />          
          <br />
          <br />


          <p class="text-muted">No information about you (including your card info) is stored anywhere near my sever, for security purposes. However, feel free to leave a comment below if you'd like me to know who you are so I can personally thank you :)</p>

          <br />
          <br />

        </div>

      </div>
    </div>
{% endblock %}{% endblock %}

