{% extends 'base.html' %}

{% block content %}{% block mobile-content %}
    <div class="post container-fluid" style="margin-top: 25px;">
      <div class="row">

        <div class="calendar-icon col-1">
        </div>

        <div class="col-12" style="margin-left: 0px;">
          <h2>THANK YOU FOR YOUR SUPPORT</h2>

          <h3>You just donated <b>${{ donation }}</b> to support my caffeine addiction.</h3>

          <p>Your donation is, by nature, anonymous - no information about you (including your card info) is stored anywhere near my sever, for security purposes. However, feel free to leave a comment below if you'd like me to know who you are so I can personally thank you :)</p>

          <br />

          <p>You're really awesome for providing your support - I can't thank you enough!</p>


          <br /><br /><br /><br />

        </div>

      </div>
    </div>
{% endblock %}{% endblock %}

