{% extends "base.html" %}
{% block content %}
    {% include "components/_hero.html" %}
    <section class="section">
        <div class="container" id="tables">
            {% for area, task in task_list.items %}
                <table class="table is-striped is-bordered is-center">
                    <caption>
                        {{ area }}
                    </caption>
                    <tr>
                        <th scope="col">Task</th>
                        <th scope="col">Description</th>
                    </tr>
                    {% for task, description in task.items %}
                        <tr>
                            <td>{{ task }}</td>
                            <td>{{ description }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endfor %}
        </div>
    </section>
{% endblock %}