{% extends "blog/index.html" %}
{% load static %}
{% block content %}
Post List
  {% for post in posts %}
    {% if forloop.last %}
      <div class="container post" style="margin-top: 25px;margin-bottom: 7%;"
        hx-trigger="revealed" 
        hx-get="{% url 'blog-posts' %}?page={{ page_obj.number|add:1 }}"
        hx-swap="afterend"
      >
    {% else %}
      <div class="container post" style="margin-top: 25px;margin-bottom: 7%;">
    {% endif %}
        <div class="row">
          <div class="post-info row">
            <div class="col-md-3" style="padding: 0px;">
              <time datetime="{{ post.published_date }}" class="icon">
                <em>{{ post.published_date|date:"l" }}</em>
                <strong>{{ post.published_date|date:"F" }}</strong>
                <span style="padding-top: 0.7em">{{ post.published_date|date:"j" }}</span>
              </time>
            </div>

            <div class="col-md-9" style="text-align: left;padding-top: 3%;">
              <a href="/blog/{{ post.id }}">
                <h1>
                  {{ post.title|safe }}
                </h1>
              </a>

              {% if post.published_date %}
                  <div class="date">
                    Posted by <b>{{post.author}}</b> on {{ post.published_date }}
                  </div>
              {% endif %}

            </div>
          </div>

          <div class="col-10">
            <br />
            {% if post.pic %}
            <div class="col-md-12" style="padding: 0px;margin: 0 auto 45px auto;">
                <div class="container" >
                  <a href="/blog/{{ post.id }}">
                    <img class="mx-auto rounded d-block img-fluid" style="max-width: auto; max-height: 350px;" src="{{post.pic}}">
                  </a>
                </div>
            </div>
            {% endif %}

            <p style="min-width: 100%;">
              {{ post.text|safe|truncatewords_html:post.snippet_size }}
            </p>
          </div>

        </div>
      </div>
  {% endfor %}
{% endblock content %}