{% load static django_htmx %}
<!DOCTYPE html>
<html lang="en"
      x-data
      :data-theme="$store.themeSwitcher.theme">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="ABA.Rocks is a behavior analysis blog dedicated to the science of learning." />
      <meta name="keywords" content="ABA.Rocks, RBT, RBT Exam Prep, BCBA Exam Prep">

      <!-- Pinterest Claim -->
      <meta name="p:domain_verify" content="4d2813b6def4c45e881bd8e54cfbb0d0" />

      <title>{% block title %}{% endblock title %}</title> <!-- TODO: populate title blocks in children -->

      <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>

      <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">

      <link rel="stylesheet" href="{% static 'css/aba-bulma.css' %}">
      <link rel="stylesheet" href="{% static 'css/app.css' %}">
      <script type="module" src="{% static 'js/aba.js' %}"></script>
      {% django_htmx_script %}

      <meta name="theme-color" content="#ffffff">
    <link rel="favicon" href="{% static 'img/favicon.ico' %}">

    {% block extra-head %}{% endblock extra-head %}
  </head>
	<body class="has-navbar-fixed-top" hx-ext="$store.extensions.extensions" hx-swap="morph">
    <section class="section">
    {% include "navbar.html" %}
    </section>

    <section class="section" id="content">
        {% block content %}{% endblock content %}
    </section>

		{% include "footer.html" %}

	</body>
</html>