{% load static %}
<nav class="navbar is-fixed-top" x-data="{ open: false, dropdown: false }" role="navigation">
  <div class="navbar-brand">
    <a class="navbar-item has-text-weight-bold" href="{% url 'home' %}">
        <h1 class="title is-1 is-family-secondary">ABA.Rocks</h1>
    </a>
    <a role="button"  id="burger" class="navbar-burger" aria-label="menu"
       @click="open = ! open" :class="{ 'is-active': open }" data-target="navMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbar-menu is-size-4" :class="{ 'is-active': open }" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item has-text-weight-bold" href="{% url 'learn:course-index' %}">
        Learn
      </a>

      <a class="navbar-item has-text-weight-bold" href="{% url 'blog:blog-posts' %}">
        Blog
      </a>

      <a class="navbar-item has-text-weight-bold" href="{% url 'about' %}">
        About
      </a>

      <a class="navbar-item has-text-weight-bold" href="https://ko-fi.com/abarocks">
        &nbsp&nbsp ☕️ &nbsp Buy Us a Ko-Fi &nbsp ❤️ &nbsp&nbsp
      </a>

      <div class="navbar-item has-text-weight-bold has-dropdown"
           @click="dropdown = ! dropdown" :class="{ 'is-active': dropdown }">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown is-size-5">
          <a class="navbar-item has-text-weight-bold">
            About
          </a>
          <a class="navbar-item has-text-weight-bold">
            Jobs
          </a>
          <a class="navbar-item has-text-weight-bold">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item has-text-weight-bold">
            Report an issue
          </a>
        </div>
      </div>
      <button class="navbar-item">
        <i class="fas fa-lightbulb" x-on:click="$store.themeSwitcher.toggle()"></i>
      </button>
    </div>
  </div>
</nav>