{% load static %}
<nav class="navbar px-5" role="navigation"
     :class="$store.responsiveNav.top ? 'is-fixed-top is-primary' : 'is-fixed-bottom'">
    <div class="navbar-brand">
        <a class="navbar-item has-text-weight-bold" href="{% url 'home' %}">
            <h1 class="title is-family-secondary is-size-2">ABA.Rocks</h1>
        </a>
        <a role="button" id="burger" class="navbar-burger" aria-label="menu" data-target="navMenu"
           @click="$store.responsiveNav.toggle()" x-bind="burger">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu" id="navbar-menu"
         x-show.important="$store.responsiveNav.show">
        <div class="navbar-start">
            {% for app, links in nav.items %}
                <a class="navbar-item has-text-text-bold is-size-4 is-tab has-text-weight-bold"
                   href="{% url links.root %}">{{ app }}</a>
            {% endfor %}
        </div>
        <div class="divider"></div>
        <div class="navbar-end">
            <div class="navbar-item is-size-4 is-tab">
                <button class="icon has-text-text-bold is-large"
                        @click="$store.themeSwitcher.toggle()">
                    <i class="fas fa-lightbulb is-large"></i>
                </button>
            </div>
            <div class="navbar-item is-size-4 is-tab">
                <a class="icon has-text-text-bold is-large">
                    <i class="fa-brands fa-instagram is-large"></i>
                </a>
            </div>
            <div class="navbar-item is-size-4 is-tab">
                <a class="icon has-text-text-bold is-large" href="https://ko-fi.com/abarocks">
                    <i class="fas fa-mug-hot"></i>
                </a>
            </div>
            {% if request.user.is_authenticated %}
                <div class="navbar-item has-dropdown is-size-4 is-tab" x-data="dropdown">
                <a class="navbar-link has-text-text-bold has-text-weight-bold" @click="toggle()">{{ user.username }}</a>
                <div class="navbar-dropdown" x-show.important="show">
                    <a class="navbar-item" href="{% url 'user_profile' %}">Profile</a>
                    <a class="navbar-item" href="{% url 'logout' %}">Logout</a>
                </div>
            {% else %}
                <div class="navbar-item is-size-4 is-tab" hx-boost="true" hx-target="#modal-wrapper"
                     hx-select="#account-modal" hx-swap="beforeend" hx-push-url="false">
                    <a class="has-text-text-bold has-text-weight-bold" href="{% url 'login' %}"
                       @click="$dispatch('show-modal')">Log In</a>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
</nav>