{% extends "base.html" %}
{% block title %}{{ request.user.username }}'s Profile{% endblock title %}
{% block content %}
{% include "components/_hero.html" with title=title subtitle=subtitle blurb=blurb %}
<section class="section" x-data="{ active: 'quiz' }">
    <div class="tabs is-centered">
        <ul>
            <li :class="active === 'quiz' ? 'is-active' : ''">
                <a @click="active = 'quiz'">Quizzes</a>
            </li>
            <li :class="active === 'safmeds' ? 'is-active' : ''">
                <a @click="active = 'safmeds'">SAFMEDS</a>
            </li>
            <li :class="active === 'account' ? 'is-active' : ''">
                <a @click="active = 'account'">Account</a>
            </li>
        </ul>
    </div>
    <div class="box has-text-centered" id="quiz-box" x-show="active === 'quiz'">
        <header class="title">Quiz Results</header>
        <table class="table is-striped is-bordered is-fullwidth">
            <thead>
            <tr>
                <th scope="col">Date and Time</th>
                <th scope="col">Correct</th>
                <th scope="col">Total</th>
                <th scope="col">Score</th>
                <th scope="col">Link</th>
            </tr>
            </thead>
            <tbody>
            {% for quiz in quizzes %}
                <tr>
                    <th scope="row">{{ quiz.datetime|date:"SHORT_DATE_FORMAT" }} {{ quiz.datetime|date:"g:iA" }}</th>
                    <td>{{ quiz.correct }}</td>
                    <td>{{ quiz.total }}</td>
                    <td>{{ quiz.score }}</td>
                    <td><a class="button" href="">View</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="box has-text-centered" id="safmeds-box" x-cloak x-show="active === 'safmeds'">
        <header class="title">SAFMEDS Results</header>
        <table class="table is-striped is-bordered is-center">
            <thead>
            <tr>
                <th scope="col">Date and Time</th>
                <th scope="col">Correct</th>
                <th scope="col">Incorrect</th>
                <th scope="col">Total</th>
            </tr>
            </thead>
            <tbody>
            {% for attempt in safmeds_attempts %}
                <tr>
                    <th scope="row">{{ attempt.datetime|date:"SHORT_DATE_FORMAT" }} {{ attempt.datetime|date:"g:iA" }}</th>
                    <td>{{ attempt.correct }}</td>
                    <td>{{ attempt.incorrect }}</td>
                    <td>{{ attempt.correct|add:attempt.incorrect }}</td> <!---Add incorrect and correct--->
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="box has-text-centered" id="account-box" x-cloak x-show="active === 'account'">
        <header class="title">Account Management</header>
        <h2 class="subtitle">Account Info</h2>
        <p><strong>Username:</strong> {{ request.user.username }}</p>
        <p><strong>First Name:</strong> {{ request.user.first_name }}</p>
        <p><strong>Last Name:</strong> {{ request.user.last_name }}</p>
        <div class="control">
            <a class="button" href="{% url 'edit_profile' %}">Update Account Info</a>
        </div>
        <br>
        <h2 class="subtitle">Preferences</h2>
        <div class="control">
            <a class="button" href="{% url 'account_email' %}">Manage Emails</a>
        </div>
        <div class="control">
            <a class="button" href="{% url 'account_change_password' %}">Change Password</a>
        </div>
        <div class="control">
            <a class="button" href="{% url 'mfa_index' %}">Multifactor Authentication</a>
        </div>
    </div>
</section>
{% endblock content %}