{% extends 'base.html' %}

{% block quiz-content %}


  <span class="confetti_wrapper">
    <!-- Displays the Quiz Results at the end !-->
    <div id="results"></div>

    <div class="container">

    </div>

  <div class="container-fluid" id="flashcard_container"> 

    <div class="row">

      <div class="col-md-12">

        <div class="col-12 progress_bar_container">
          <div class="progress">
            <div id="progress_bar_correct" class="progress-bar bg-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            <div id="progress_bar_incorrect" class="progress-bar bg-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>    

        
        <div class="col-12 alert-oot">
          <br>
          <div class="alert alert-warning flashcard-oot" style="display:none;">You ran out of time - do you want to <a href=".">try again?</a></div>
        </div>

        <div class="col-12 score_graph_container">
          <div id="score_graph" class="fade" style="display: none; height: 100%; width: 100%;max-height: 400px; max-width: 400px;margin: 0 auto 0 auto;">
            <canvas id="myChart" width="400" height="400"></canvas>
          </div>
          <div class="container-fluid" id="score_graph_options" style="display:none;margin: 2.5rem auto 0 auto">
            <a href="." class="btn btn-info">Restart Quiz</a>
            <a href="/fluency" class="btn btn-success">Back to SAFMEDS Menu</a>
            <a href="/study" class="btn btn-secondary">Back to Study Portal</a>
          </div>
        </div>

        <div class="col-12 flashcard_wrapper">
          <div id="flashcard" class="flashcard">
          </div>
        </div>
      </div>
    </div>

    <br />
  </div>

  <br /><br />
  <div class="container" style="text-align: center;">
    <button type="button" data-toggle="collapse" href="#disqus_thread" class="btn btn-info">
      <i class="far fa-comment"></i>
      Toggle Comments
    </button>
  </div>
  </span>

  <!-- Report Question as Erroneous Modal !-->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Spot something fishy? &nbsp <i class="fas fa-fish"></i></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <br />
          <h5>See something wrong with this question?</h5>
          <p class="text-muted"><b>Thank you for your feedback!</b><br /> Report the type of error below, and I'll get an email prompting me to fix it from the server. Thank you in advance for your time and patience while I work to improve this site - and best of luck studying!</p>

        <form>
          <div class="form-group">
            <label for="error_type">What's wrong?</label>
            <select multiple class="form-control" id="error_type">
              <option>Glitch / Bug</option>
              <option>Typo / Spelling & Grammar</option>
              <option>Question / Choices are wrong (please describe below)</option>
              <option>This question / series is too difficult</option>
              <option>Other (please describe below)</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Please take a moment to summarize the problem:</label>
            <textarea class="form-control" id="error_description" rows="3"></textarea>
          </div>
        </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Nevermind</button>
          <button type="button" class="btn btn-primary" onClick="submitReport()">Submit the report</button>
        </div>
      </div>
    </div>
  </div>
  

  <!-- Disqus Code !-->
  <div id="disqus_thread" class="collapse col-12"></div>


  <template id="flashcard_template">
    <div class="card" style="width: 100%;margin: 0 auto 0 auto; padding: 5%;">
      <div class="card-body">
        <h3 class="card-title">Flashcard title</h3>
        <h6 class="card-subtitle mb-2 text-muted">Which choice describes this flashcard best - <a href="#" class="text-info font-weight-bold" onClick="showHint()">want a hint?</a> &nbsp&nbsp <a class="text-warning font-weight-bold" data-toggle="modal" data-target="#exampleModal" href="#"><i class="fas fa-flag"></i> Report Question </a></h6>

        <div id="flashcard_positive_feedback" class="flashcard_feedback alert alert-success" style="display: none;">
          Nice job! You got it right.
        </div>

        <div id="flashcard_negative_feedback" class="flashcard_feedback alert alert-warning" style="display: none;">
        </div>

        <div id="flashcard_prompt" class="flashcard_prompt alert alert-info" style="display: none;">
        </div>

        <br />


        <div class="flashcard_options_container">

        </div>

      </div>
    </div>
  </template>

  <template id="flashcard_options_template">

    <div class="form-check flashcard_template_option" style="cursor: pointer;">

      <label style="cursor: pointer;">
        <table style="table-layout: fixed;" class="table table-hover" >
          <tr style="display:table-row;border-radius: 15px;cursor: pointer;">
            <td style="vertical-align: top;width:15px;" onClick=gradeMe(event)>
              <input style="margin-left: 5px; margin-right: 8px;" class="form-check-input flashcard_input" type="radio" name="choice">
            </td>
            <td>
              <span class="form-check-label flashcard_input_label" style="font-weight: normal"></span>
            </td>
          </tr>
        </table>
      </label>

    </div>

  </template>


  <script>

  /**
  *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
  *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
  var disqus_config = function () {
      this.page.url = '{{ request.build_absolute_uri }}{{ object.get_absolute_url }}';
      this.page.identifier = 'fluency_timed_{{ unit_id }}';
      this.page.title = 'Timed Fluency {{ unit_name }} Practice Flashcards';
  };

  function highlightAnswers() {
    $('#table-choices tr').on('click', function() {
        $('#table-choices tr').each(function(){
            $(this).css('backgroundColor','white');
        })
        $(this).css('backgroundColor','#17a2b8');
    }); 
  }

  highlightAnswers();

  (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://https-aba-rocks.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>



<script>

  /* Warn user before reloading the quiz (and losing all progress!) */
  window.onbeforeunload = function ()
  {
     return "";
  };
  
  function shuffle(a) {
      for (let i = a.length - 1; i > 0; i--) {
          const j = Math.floor(Math.random() * (i + 1));
          [a[i], a[j]] = [a[j], a[i]];
      }
      return a;
  }

  // visual timer
  var stop = false;
  var deck_timed_duration   = `{{ deck_timed_duration }}`; /* how long the timer will run (seconds) */
  var elapsed_time = 0;

  var current_score           = [];
  var flashcards_correct      = 0;
  var flashcards_incorrect    = 0;
  var show_negative_feedback  = false;

  var current_flashcard       = 0;
  var max_flashcards          = Number("{{total_flashcards}}");

  var flashcards            = `{{ flashcards|safe }}`;
  flashcards = JSON.parse(flashcards)
  flashcards                  = shuffle(flashcards);



  var unit_id = "{{unit_id}}";
  var deck_id = "{{deck_id}}";

  
  function tally_vote(choice_id) {
    $.ajax({
      url : "/fluency/"+choice_id+"/tally/",
      type : "POST",
      data : { 'csrfmiddlewaretoken': '{{csrf_token}}', choice_id : choice_id },
      success : function(response) {
        console.log(response);
      },
      error : function(xhr,errmsg,err) {
        alert('There was an error submitting this error report :(')
      }
    });
  }

  function submitReport() {
    var flashcard_id = flashcards[current_flashcard].pk;
    var error_type = document.getElementById("error_type");
    var selected = Array.from(error_type.selectedOptions).map(v=>v.value);
    var error_description = document.getElementById("error_description").value;

    $.ajax({
      url : "/error/report",
      type : "POST",
      data : { 'csrfmiddlewaretoken': '{{csrf_token}}', id: flashcard_id, module: 'fluency', categories: JSON.stringify(selected), description: error_description },
      success : function(response) {
        console.log(response);
      },
      error : function(xhr,errmsg,err) {
        alert('There was an error submitting this report... almost ironic');
      }
    });

  }
  

  function gradeMe(event) {
    tally_vote(event.target.getAttribute("pk"));

    var correct = event.target.getAttribute("correct");
    if ( correct == 'true' ) {
      flashcards_correct += 1;
    } else {
      flashcards_incorrect += 1;
      show_negative_feedback = true;
    }
    calculateScore();

    current_flashcard = current_flashcard + 1;

    if ( current_flashcard == max_flashcards ) {
      displayScore();
      stop = true;
    } else {
      next_flashcard();
    }
  }

  function calculateScore() {

    var score = flashcards_correct/(flashcards_correct+flashcards_incorrect);

    $('#progress_bar_correct').css('width', (flashcards_correct/max_flashcards*100)+'%').attr('aria-valuenow', (score.correct/max_flashcards*100));
    $('#progress_bar_incorrect').css('width', (flashcards_incorrect/max_flashcards*100)+'%').attr('aria-valuenow', (score.incorrect/max_flashcards*100));

    return score;
  }

  function displayScore() {
    $('#score_graph').fadeIn().removeClass('fade').css('display', 'block');
    $('#score_graph_options').fadeIn().removeClass('fade').css('display', 'block');
    $('#flashcard').css('display', 'none');

    var final_score = flashcards_correct/(flashcards_incorrect+flashcards_correct);
    if ( final_score >= 0.8 ) {
      window.scrollTo(0,0);
      $('#results').html('<br><div class="alert alert-success"><b>Hey, good work there!<b> Your score is: <b>'+Math.floor(final_score*100)+'%</b> .</div>');
      for (var i = 0; i < 250; i++) {
        create(i);
      }
    } else {
      window.scrollTo(0,0);
      $('#results').html('<br><div class="alert alert-danger"><b>Better luck next time</b> - keep trying! You can do it! Your score is: <b>'+Math.floor(final_score*100)+'%</b>.</div>');
    }
    myChart.data.datasets[0].data[1] = flashcards_correct;
    myChart.data.datasets[0].data[0] = flashcards_incorrect;
    myChart.update();
  }

  /* Warn user before reloading the quiz (and losing all progress!) */
  window.onbeforeunload = function ()
  {
     //return "";
  };

  window.onload = function() {

    next_flashcard();

  }

  function next_flashcard() {
    document.querySelector("#flashcard").innerHTML = '';
    var flashcard_template  = document.querySelector("#flashcard_template")

    var flashcard = document.querySelector("#flashcard")

    var clone = document.importNode(flashcard_template.content, true)

    choices = flashcards[current_flashcard]["fields"]["flashcard_choices"];
    choices = choices.substr(2,choices.length);
    choices = choices.substr(0,choices.length-2);

    choices = choices.split("), (");

    choices = shuffle(choices);

    var option = new Object();
    var options = [];

    for (i = 0; i < choices.length; i++) {
      option.id               = parseInt(choices[i].substr(0, choices[i].indexOf("'")-2))
      option.content          = choices[i].substr(choices[i].indexOf("'")+4, choices[i].length)
      option.content          = option.content.substr(0, option.content.indexOf("'")-4)
      option.is_correct       = JSON.parse(choices[i].substr(choices[i].lastIndexOf(",")+2, choices[i].length).toLowerCase())

      var options_template = document.importNode(flashcard_options_template.content, true)

      options_template.querySelector(".flashcard_input_label").innerHTML = option.content
      options_template.querySelector(".flashcard_input").setAttribute('correct', option.is_correct);
      options_template.querySelector(".flashcard_input").setAttribute('pk', option.id);


      clone.querySelector('.flashcard_options_container').appendChild(options_template)


      options.push(option);
    }

    clone.querySelector(".card-title").innerHTML = flashcards[current_flashcard]["fields"]["flashcard_text"]

    if ( current_flashcard != 0 ) {
      var correction = flashcards[current_flashcard-1]["fields"]["flashcard_hint"];
    } else {
      var correction = flashcards[current_flashcard]["fields"]["flashcard_hint"];
    }
    var hint = flashcards[current_flashcard]["fields"]["flashcard_hint"];

    clone.querySelector(".flashcard_prompt").innerHTML = "<p><b>The answer is: </b> " + hint.substr(3,hint.length) + "</p>";
    clone.querySelector("#flashcard_negative_feedback").innerHTML = "<p>Oops! Not quite right - <b>the answer was: </b> " + correction.substr(3,correction.length) + "</p>";

    flashcard.appendChild(clone)

    if ( show_negative_feedback == true ) {
      document.getElementById('flashcard_negative_feedback').style.display = 'block';
      show_negative_feedback == false;
    }
  }

  function showHint() {
    document.querySelector(".flashcard_prompt").style.display = "block";
  }

  // Score Pie Chart (generates a visualization of their score for the user)
  var dataset = [];
  var ctx = document.getElementById("myChart");
  var myChart = new Chart(ctx, {
      type: 'doughnut',
      data: {
          labels: ["Incorrect", "Correct"],
          datasets: [{
              label: 'Score Report',
              data: dataset,
              backgroundColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(75, 192, 192, 1)',
              ],
              borderColor: [
                  'rgba(255,99,132,1)',
                  'rgba(75, 192, 192, 1)',
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }]
          }
      }
  });

  function create(i) {
    var width = Math.random() * 8;
    var height = width * 0.4;
    var colourIdx = Math.ceil(Math.random() * 3);
    var colour = "red";
    switch(colourIdx) {
      case 1:
        colour = "yellow";
        break;
      case 2:
        colour = "blue";
        break;
      default:
        colour = "red";
    }
    $('<div class="confetti-'+i+' '+colour+'"></div>').css({
      "width" : width+"px",
      "height" : height+"px",
      "top" : -Math.random()*20+"%",
      "left" : Math.random()*100+"%",
      "opacity" : Math.random()+0.5,
      "transform" : "rotate("+Math.random()*360+"deg)"
    }).appendTo('.confetti_wrapper');  
    
    drop(i);
  }

  function drop(x) {
    $('.confetti-'+x).animate({
      top: "100%",
      left: "+="+Math.random()*15+"%"
    }, Math.random()*3000 + 3000, function() {
      reset(x);
    });
  }

  function reset(x) {
    $('.confetti-'+x).animate({
      "top" : -Math.random()*20+"%",
      "left" : "-="+Math.random()*15+"%"
    }, 0, function() {
      drop(x);             
    });
  }
</script>

{% endblock %}
