{% load staticfiles %}
<!doctype html>
<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <title>
        ABA Rocks: A Behavior Analysis Blog
      </title>

      <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Catamaran|Comfortaa" rel="stylesheet">

      <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/blog.css' %}">

      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-98470698-1', 'auto');
        ga('send', 'pageview');

      </script>

      <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
      <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/moment.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/fontawesome-all.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/chart.bundle.min.js' %}"></script>

      <link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicon/apple-icon-57x57.png' %}">
      <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/apple-icon-60x60.png' %}">
      <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-icon-72x72.png' %}">
      <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-icon-76x76.png' %}">
      <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-icon-114x114.png' %}">
      <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-icon-120x120.png' %}">
      <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-icon-144x144.png' %}">
      <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-icon-152x152.png' %}">
      <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-icon-180x180.png' %}">
      <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'favicon/android-icon-192x192.png' %}">
      <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
      <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96x96.png' %}">
      <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
      <link rel="manifest" href="{% static 'favicon/manifest.json' %}">
      <meta name="msapplication-TileColor" content="#ffffff">
      <meta name="msapplication-TileImage" content="{% static 'favicon/ms-icon-144x144.png' %}">
      <meta name="theme-color" content="#ffffff">

    </head>
    <body>

      <!-- Desktop Header !-->
      <div class="page-header d-none d-md-block page-title">

          <h1 style="text-align: center;">
            <div class="d-inline">
              <a class="page-banner-title" href="/">
                ABA Rocks: <small>A Behavior Analysis Blog</small>
              </a>
            </div>
          </h1>

          {% if user.is_not_authenticated %}
            <button type="button" class="btn btn-dark">Log in</button><br>
          {% endif %}
      </div>

      <!-- Mobile Header !-->
      <div class="page-header-mobile d-inline d-sm-block d-md-none d-lg-none page-title">

          <h2 class="d-inline" style="text-align: center;">
            <div class="d-inline">
              <button class="float-left btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <i class="fas fa-bars"></i>
              </button>
            </div>
            <div class="d-inline" style="margin-left: 12%">
              <a class="page-banner-title" href="/">
                ABA Rocks: <br /> <small>A Behavior Analysis Blog</small>
              </a>
            </div>
          </h2>

          {% if user.is_not_authenticated %}
            <button type="button" class="btn btn-dark">Log in</button><br>
          {% endif %}
      </div>

      <!-- Mobile Sidebar !-->
      <div class="collapse" id="collapseExample" style="position: fixed; z-index: 1000; margin: 50px 2.5% 0 2.5%; border: 1px solid #ccc; height: 100%; width: 95%;">
        <div class="d-lg-none d-md-none">
          {% block mobile-sidebar %}
            <div id="sidebar">

              <ul class="list-group list-group-flush">

                <li class="list-group-item sidebar-link-item" data-toggle="tooltip" data-placement="right" data-html="true">
                  <div style="width: 100%;">
                    <i class="fas fa-home" style="min-width: 25px;"></i> <a class="sidebar-link" href="/">Home</a>
                  </div>
                </li>

                <li class="list-group-item sidebar-link-item" data-toggle="tooltip" data-placement="right" data-html="true">
                  <div style="width: 100%;">
                    <i class="fas fa-question" style="min-width: 25px;"></i> <a class="sidebar-link" href="/what-is-aba">What is ABA?</a>
                  </div>
                </li>

                <li class="list-group-item" data-toggle="tooltip" data-placement="right" data-html="true">
                  <div style="width: 100%;">
                    <i class="fas fa-graduation-cap" style="min-width: 25px;"></i> <a class="sidebar-link" href="/behavior-basics">Behavior Basics</a>
                  </div>
                </li>

                <li class="list-group-item" data-toggle="tooltip" data-placement="right" data-html="true">
                  <div style="width: 100%;">
                    <i class="fas fa-flask" style="min-width: 25px;"></i> <a class="sidebar-link" href="/research">Research & Evidence</a>
                  </div>
                </li>

                <li class="list-group-item" data-toggle="tooltip" data-placement="right" data-html="true">
                  <div style="width: 100%;">
                    <i class="fas fa-info-circle" style="min-width: 25px;"></i> <a class="sidebar-link" href="/resources">Resources</a>
                  </div>
                </li>

                <li class="list-group-item" data-toggle="tooltip" data-placement="right" data-html="true">
                  <div style="width: 100%;">
                    <i class="fas fa-book" style="min-width: 25px;"></i> <a class="sidebar-link" href="/quiz">ABA Exam Prep Materials</a>
                  </div>
                </li>

                <li class="list-group-item" data-toggle="tooltip" data-placement="right" data-html="true">
                  <div style="width: 100%;">
                    <i class="far fa-envelope" style="min-width: 25px;"></i> <a class="sidebar-link" href="/about">About ABA.rocks</a>
                  </div>
                </li>

                {% if user.is_authenticated %}
                <li class="list-group-item"  data-toggle="tooltip" data-placement="right" data-html="true">
                  <i class="far fa-plus-square" style="min-width: 25px;"></i>
                  <a href="{% url 'post_new' %}">
                    New Post
                  </a>
                </li>
                {% endif %}
              </ul>

            </div>
          {% endblock %}
        </div>
      </div>

      <div class="content container-fluid">
        <div class="row">
              <!-- Desktop Sidebar !-->
              {% block sidebar %}
                <div id="sidebar" class="d-none d-lg-block d-md-block" style="position: fixed; width: 15%; z-index: 1000; border-top: 0px; border-left: 0px; border-right: 0px; top: 18%;">

                  <ul class="list-group list-group-flush">

                    <li class="list-group-item sidebar-link-item" data-toggle="tooltip" data-placement="right" data-html="true">
                      <div style="width: 100%;">
                        <i class="fas fa-home" style="min-width: 25px;"></i> <a class="sidebar-link" href="/">Home</a>
                      </div>
                    </li>

                    <li class="list-group-item" data-toggle="tooltip" data-placement="right" data-html="true">
                      <div style="width: 100%;">
                        <i class="fas fa-question" style="min-width: 25px;"></i> <a class="sidebar-link" href="/what-is-aba">What is ABA?</a>
                      </div>
                    </li>

                    <li class="list-group-item" data-toggle="tooltip" data-placement="right" data-html="true">
                      <div style="width: 100%;">
                        <i class="fas fa-graduation-cap" style="min-width: 25px;"></i> <a class="sidebar-link" href="/behavior-basics">Behavior Basics</a>
                      </div>
                    </li>

                    <li class="list-group-item" data-toggle="tooltip" data-placement="right" data-html="true" >
                      <div style="width: 100%;">
                        <i class="fas fa-flask" style="min-width: 25px;"></i> <a class="sidebar-link" href="/research">Research & Evidence</a>
                      </div>
                    </li>

                    <li class="list-group-item" data-toggle="tooltip" data-placement="right" data-html="true">
                      <div style="width: 100%;">
                        <i class="fas fa-info-circle" style="min-width: 25px;"></i> <a class="sidebar-link" href="/resources">Resources</a>
                      </div>
                    </li>

                    <li class="list-group-item" data-toggle="tooltip" data-placement="right" data-html="true">
                      <div style="width: 100%;">
                        <i class="fas fa-book" style="min-width: 25px;"></i> <a class="sidebar-link" href="/quiz">ABA Exam Prep Materials</a>
                      </div>
                    </li>

                    <li class="list-group-item" data-toggle="tooltip" data-placement="right" data-html="true">
                      <div style="width: 100%;">
                        <i class="far fa-envelope" style="min-width: 25px;"></i> <a class="sidebar-link" href="/about">About ABA.rocks</a>
                      </div>
                    </li>

                    {% if user.is_authenticated %}
                    <li class="list-group-item"  data-toggle="tooltip" data-placement="right" data-html="true" >
                      <i class="far fa-plus-square" style="min-width: 25px;"></i>
                      <a href="{% url 'post_new' %}">
                        New Post
                      </a>
                    </li>
                    {% endif %}

                  </ul>
                </div>
              {% endblock %}

              <!-- Blog Quiz Content !-->

              <div class="d-none d-md-block d-lg-block col-md-2">
                <!-- Filler Column !-->
              </div>

              <div id="section-to-print" class="col-md-10" style="margin: 0 auto 0 auto;">
                <div class="quiz-filler d-block d-sm-block d-md-none" style="min-height: 150px;">
                </div>
                {% block quiz-content %}
                {% endblock %}
              </div>


              <!-- Blog Posts Desktop Content !-->                
              <div class="d-none d-md-block d-lg-block col-md-2">
                  <!-- Filler Column !-->
              </div>

              <div id="section-to-print" class="d-none d-md-block d-lg-block col-md-10">
                <!-- Posts -->
                {% block content %}
                {% endblock %}
              </div>

              <!-- Blog Posts Mobile Content !-->
              <div id="section-to-print" class="d-block d-sm-block d-md-none col-md-10">

                <!-- Posts -->
                {% block mobile-content %}
                {% endblock %}
              </div>
        </div>

      </div>
      <script>
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })
      </script>
    </body>

</html>
