{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load django_htmx %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ABA.Rocks is a behavior analysis blog dedicated to the science of learning." />

    <!-- Pinterest Claim -->
    <meta name="p:domain_verify" content="4d2813b6def4c45e881bd8e54cfbb0d0" />

    <title>{% block title %}{% endblock title %}ABA Rocks: A Behavior Analysis Blog</title>

    <!-- <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script> -->
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <script src="https://unpkg.com/htmx-ext-debug@2.0.0/debug.js"></script>
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-98470698-1', 'auto');
        ga('send', 'pageview');
    </script>

    <meta name="theme-color" content="#ffffff">

</head>