
<li class="list-group-item sidebar-link-item" data-toggle="tooltip" data-placement="right" data-html="true">
  <div style="width: 100%;">
    <i class="fas fa-home" style="min-width: 25px;"></i> <a class="sidebar-link" href="/">Home</a>
  </div>
</li>

{% for page in pages %}
  <li class="list-group-item sidebar-link-item" data-toggle="tooltip" data-placement="right" data-html="true">
    <div style="width: 100%;">
      <i class="{{ page.icon }}" style="min-width: 25px;"></i> <a class="sidebar-link" href="/pages/{{ page.slug }}">
        {{ page.title }}
      </a>
    </div>
  </li>
{% endfor %}

<li class="list-group-item" data-toggle="tooltip" data-placement="right" data-html="true">
  <div style="width: 100%;">
    <i class="fas fa-book" style="min-width: 25px;"></i> <a class="sidebar-link" href="/study"><b>ABA Exam Prep Materials</b></a>
  </div>
</li>

<li class="list-group-item" data-toggle="tooltip" data-placement="right" data-html="true">
  <div style="width: 100%;">
    <i class="far fa-envelope" style="min-width: 25px;"></i> <a class="sidebar-link" href="/coffee"><b>Buy me coffee!</b></a>
  </div>
</li>

<li class="list-group-item" data-toggle="tooltip" data-placement="right" data-html="true">
  <div style="width: 100%;">
    <i class="fas fa-flask" style="min-width: 25px;"></i> <a class="sidebar-link" href="/research">Research & Evidence</a>
  </div>
</li>

{% if user.is_authenticated %}
<li class="list-group-item"  data-toggle="tooltip" data-placement="right" data-html="true" >
  <i class="fas fa-unlock-alt" style="min-width: 25px;"></i>
  <a href="/admin">
    <b>Admin Site</b>
  </a>
</li>
{% endif %}