:root {
    --system-font:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen-sans,
        Ubuntu,
        Cantarell,
        "Helvetica Neue",
        Helvetica,
        Arial,
        "Noto Sans",
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
}

html {
    font-family: var(--system-font), ui-sans-serif, sans-serif;
}

:root {
    --bulma-navbar-item-color: #fff;
}

a {
    color: #fff;
}